<?php

?>
<?php
/**
 * Shopping cart totals template
 *
 * @see Mage_Checkout_Block_Cart_Totals
 * @var $this Mage_Checkout_Block_Cart_Totals
 */
?>
<style>
    #gc-loader	{margin-left: 5px;}
</style>

<script>
    function removeCard(num)
    {
        params = {};
        params['cardNum'] = num;
        $('gc-loader').show();
        new Ajax.Request('<?php echo Mage::getBaseUrl('web') . 'giftcards/index/removecard' ?>', {
            method: 'get',
            parameters: params,
            onSuccess: function(transport) {
                $('gc-loader').hide();
                window.location.reload();

            }
        });
    }
</script>
<?php
//echo get_class($this);//Cminds_GiftCard_Block_Cart_Totals
if ($this->canApplyMsrp()):
    ?>
    <div class="cart-msrp-totals"><?php echo $this->__('ORDER TOTAL WILL BE DISPLAYED BEFORE YOU SUBMIT THE ORDER'); ?></div>
<?php else: ?>
    <table id="shopping-cart-totals-table">
        <col />
        <col width="1" />
        <tfoot>
        <?php echo $this->renderTotals('footer'); ?>
        </tfoot>
        <tbody>

        <?php echo $this->renderTotals(); ?>
        <?php foreach ($this->getGiftCards() as $card): ?>
            <tr>
                <td class="a-right" colspan="<?php echo $_colspan; ?>">
                    <small>Gift Card (<?php echo $card->getNumber() ?>)</small><a href="javascript:void(0);" onclick="removeCard('<?php echo $card->getNumber() ?>')">remove</a>
                    <img src="<?php echo $this->getSkinUrl('images/reload.png') ?>" id="gc-loader" style="display:none;" />
                </td>
                <td class="a-right">
                    <small>-$<?php

                        echo number_format($card->getAmount(), 2);

                        ?></small>
                </td>
            </tr>
        <?php endforeach ?>

        </tbody>
    </table>
<?php endif; ?>
