<div class="entry-edit">
    <form id="edit_form" action="<?php echo $this->getFormActionUrl();?>" method="post" enctype="multipart/form-data">
        <div>
            <input name="form_key" type="hidden" value="<?php echo $this->getFormKey();?>">
        </div>
        <div class="fieldset " id="notifications_form">
            <div class="hor-scroll">
                <table cellspacing="0" class="form-list">
                    <tbody>
                    <tr>
                        <td class="label"><label for="customer_id"><?php echo $this->__('Customer Name');?></label></td>
                        <td class="value">
                            <?php $customersOptions = $this->getCustomersOptionArray();?>
                            <select id="customer_id" name="customer_id" class="dynamic-select-goal-fields required-entry select">
                                <?php foreach($customersOptions as $customer):?>
                                    <option value="<?php echo $customer['value'];?>" data-office="<?php echo $customer['office_id'];?>" data-region="<?php echo $customer['region_id'];?>"><?php echo $customer['label'];?></option>
                                <?php endforeach;?>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="label"><label for="region_id"><?php echo $this->__('Region Name');?></label></td>
                        <td class="value">
                            <?php $regionsArray = $this->getRegionOptionArray();?>
                            <select id="region_id" name="region_id" class="dynamic-select-goal-fields required-entry select" onchange="chooseNotificationRegion(this, null)">
                                <?php foreach($regionsArray as $region):?>
                                    <option value="<?php echo $region['value'];?>"><?php echo $region['label'];?></option>
                                <?php endforeach;?>
                            </select>
                        </td>
                    </tr>
                    <?php $regionArray = Mage::helper('cminds_positions')->getCurrentAdminRegions();;?>
                    <?php foreach($regionArray as $region):?>
                        <tr style="display: none">
                            <td class="label"><label for="office_id[<?php echo $region;?>]"><?php echo $this->__('Office Name');?></label></td>
                            <td class="value">
                                <select id="office_id[<?php echo $region;?>]" name="office_id[<?php echo $region;?>]" class="offices office-<?php echo $region;?> dynamic-select-goal-fields required-entry select" onchange="chooseNotificationOffice(this)">
                                    <?php $offices = $this->getOfficesOptionArray($region);?>
                                    <?php foreach($offices as $office):?>
                                        <option value="<?php echo $office['value'];?>"><?php echo $office['label'];?></option>
                                    <?php endforeach;?>
                                </select>
                            </td>
                        </tr>
                    <?php endforeach;?>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>