<?php
$customerRoleId = Mage::getSingleton('customer/session')->getCustomerGroupId();
$customerRole = strtolower(Mage::getSingleton('customer/group')->load($customerRoleId)->getData('customer_group_code'));

if (!(Mage::getSingleton('customer/session')->isLoggedIn() && $customerRole == 'representative' || Mage::getSingleton('customer/session')->isLoggedIn() && $customerRole == 'customer')) {
    ?>
    <h3>
        <?php echo $this->__("Sorry, But you have entered in restricted area! Please "); ?>
        <a href="<?php echo Mage::getUrl('customer/account') ?>">
            <?php echo $this->__("log-in"); ?>
        </a>
        <?php echo $this->__(" with valid user credentials to access this page!"); ?>
    </h3>
    <script>
        jQuery(document).ready(function () {
            jQuery("#secured-content").remove();
        });
    </script>
<?php } ?>