<?php
$months = $this->getMonthsValues();
$currentAdmin = $this->getCurrentAdmin();
$positionData = $this->getPositionData();
?>
<div>
    <div class="entry-edit">
        <form id="filter_form" method="post">
            <div class="entry-edit-head">
                <h4 class="icon-head head-edit-form fieldset-legend">Filter</h4>
                <div class="form-buttons"></div>
            </div>
            <div class="fieldset " id="sales_report_base_fieldset">
                <div class="hor-scroll">
                    <table cellspacing="0" class="form-list">
                        <tbody>
                        <tr>
                            <td colspan="2" class="hidden"><input id="sales_report_store_ids" name="store_ids" value="" type="hidden"></td>
                        </tr>
                        <tr>
                            <td class="label"><label for="sales_report_from">Select Period <span class="required">*</span></label></td>
                            <td class="value">
                                <select id="sales_report_from" name="from" title="Select Period" class=" required-entry select">
                                    <?php foreach($months as $month):?>
                                        <option value="<?php echo $month['value'];?>"><?php echo $month['label'];?></option>
                                    <?php endforeach;?>
                                </select>
                                <br><a href="javascript:void(0)" id="show-custom-dates" onclick="showCustomDates(this)"><small>Custom Dates</small></a>            </td>
                        </tr>
                        <tr style="display: none;">
                            <td class="label"><label for="sales_report_filter_from">From</label></td>
                            <td class="value">
                                <input name="filter_from" id="sales_report_filter_from" value="" tabindex="1" class="custom-dates is-hide input-text" type="text" style="width:110px !important;"> <img src="http://salesrep-esmailz.local/skin/adminhtml/default/default/images/grid-cal.gif" alt="" class="v-middle" id="sales_report_filter_from_trig" title="Select Date" style="">
                                <script type="text/javascript">
                                    //<![CDATA[
                                    Calendar.setup({
                                        inputField: "sales_report_filter_from",
                                        ifFormat: "%m/%e/%Y",
                                        showsTime: false,
                                        button: "sales_report_filter_from_trig",
                                        align: "Bl",
                                        singleClick : true
                                    });
                                    //]]>
                                </script>            </td>
                        </tr>
                        <tr style="display: none;">
                            <td class="label"><label for="sales_report_filter_to">To</label></td>
                            <td class="value">
                                <input name="filter_to" id="sales_report_filter_to" value="" tabindex="2" class="custom-dates is-hide input-text" type="text" style="width:110px !important;"> <img src="http://salesrep-esmailz.local/skin/adminhtml/default/default/images/grid-cal.gif" alt="" class="v-middle" id="sales_report_filter_to_trig" title="Select Date" style="">
                                <script type="text/javascript">
                                    //<![CDATA[
                                    Calendar.setup({
                                        inputField: "sales_report_filter_to",
                                        ifFormat: "%m/%e/%Y",
                                        showsTime: false,
                                        button: "sales_report_filter_to_trig",
                                        align: "Bl",
                                        singleClick : true
                                    });
                                    //]]>
                                </script><br><a href="javascript:void(0)" onclick="hideCustomDates(this)"><small>Hide Custom Dates</small></a>            </td>
                        </tr>
                        <?php if($positionData['is_national'] && $positionData['has_children']):?>
                        <?php
                            $positionTypeData = $this->getPositionTypeData($positionData['children_position_type_id']);

                            $options = $this->getOptionPositions($positionData);

                            array_unshift($options, array('value' => '', 'label' => $this->__('Please select region')));
                        ?>
                        <tr>
                            <td class="label"><label for="sales_report_region_id"><?php echo $this->__('Select '. $positionTypeData->getName())?></label></td>
                            <td class="value">
                                <select id="sales_report_region_id" name="region_id" onchange="selectRegion(this)" class=" select">
                                    <?php foreach($options as $option):?>
                                        <option value="<?php echo $option['value']?>"><?php echo $option['label'];?></option>
                                    <?php endforeach;?>
                                </select>
                            </td>
                        </tr>
                            <?php foreach($positionData['children'] as $child):?>
                            <?php
                                $positionData = $this->getChildren($child);
                                $positionTypeData = $this->getPositionTypeData($positionData['children_position_type_id']);

                                $options = $this->getOptionPositions($positionData);

                                array_unshift($options, array('value' => 0, 'label' => $this->__('All')));
                            ;?>
                                <tr style="display: none;">
                                    <td class="label"><label for="sales_report_office_data[<?php echo $child;?>]">Select Office Rep</label></td>
                                    <td class="value">
                                        <select id="sales_report_office_data[<?php echo $child;?>]" name="office_data[<?php echo $child;?>]" class="parent-id-<?php echo $child;?> children-of-region select">
                                            <?php foreach($options as $option):?>
                                                <option value="<?php echo $option['value']?>"><?php echo $option['label'];?></option>
                                            <?php endforeach;?>
                                        </select>
                                    </td>
                                </tr>
                            <?php endforeach;?>
                        <?php elseif($positionData['has_children'] && !$positionData['is_national']):?>
                            <?php
                            $positionTypeData = $this->getPositionTypeData($positionData['children_position_type_id']);

                            $options = $this->getOptionPositions($positionData);

                            array_unshift($options, array('value' => 0, 'label' => $this->__('All')));
                            ?>
                            <tr>
                                <td class="label"><label for="sales_report_office_data"><?php echo $this->__('Select '. $positionTypeData->getName())?></label></td>
                                <td class="value">
                                    <select id="sales_report_office_data" name="office_data" class="select">
                                        <?php foreach($options as $option):?>
                                            <option value="<?php echo $option['value']?>"><?php echo $option['label'];?></option>
                                        <?php endforeach;?>
                                    </select>
                                </td>
                            </tr>
                        <?php endif;?>
                        <tr>
                            <td class="label"></td>
                            <td class="value">
                                <input id="sales_report_some_field" name="" value="" class="no-display submit" type="submit">
                                <button type="button" onclick="filterFormSalesrepData()" style="padding-left: 17px;">Show Report</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form></div>
</div>
<script>

    function filterFormSalesrepData(){
        var filters = $$('#filter_form input', '#filter_form select');
        var elements = [];
        for (var i in filters) {
            if (filters[i].value && filters[i].value.length && !filters[i].disabled) elements.push(filters[i]);
        }
        var validator = new Validation('filter_form');
        if (validator.validate()) {

            new Ajax.Request('/liton-admin/sales_order_filter/filterSalesOrderGrid', {
                parameters: {
                    filter_params: Form.serializeElements(elements)
                },
                onSuccess: function(response) {
                    var res = JSON.parse(response.responseText);
                    if(res.success){
                        $$('#sales_order_grid table tbody tr .filter-actions button')[1].click();
                    }
                }
            });
        }
    }

</script>
