<?php
$report_type = $this->getFilter('report_type');
$start_date  = Mage::getModel('core/date')->gmtDate(null, strtotime($this->getFilter('start_date') .' 00:00:00'));
$end_date    = Mage::getModel('core/date')->gmtDate(null, strtotime($this->getFilter('end_date') .' 23:59:59'));

$data = $this->getReportData();

if (count($data) > 0) {
?>
<style>
.dataTableHeadingRow {
  background-color: #5F767F;
}

.dataTableHeadingContent {
  font-family: Verdana,Arial,sans-serif;
  font-size: 10px;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.dataTableRow {
  background-color: #DADFE0;
}

.dataTableRowSelected {
  background-color: rgb(222, 228, 232);
}

.dataTableRowOver {
  background-color: #fcf5dd;
  cursor: pointer;
}

.dataTableContent { font-family: Verdana,Arial,sans-serif;
font-size: 10px;
color: rgb(0, 0, 0);
}

.dataTableContentRed { font-family: Verdana,Arial,sans-serif;
font-size: 10px;
color: rgb(204, 0, 0);
}

.dataTableContentRedAlert { font-family: Verdana,Arial,sans-serif;
font-size: 10px;
color: rgb(255, 0, 0);
font-weight: bold;
}
</style>

<div style="width: 100%; font-size: 11px; overflow-x: auto;">
  <form action="" method="POST" onsubmit="alert('ok');" id="salesrep_form">
    <table border="0" width="<?php echo 170 + count($data)*250; ?>" cellspacing="2" cellpadding="2">
    <tr class="dataTableHeadingRow">
      <td class="dataTableHeadingContent" align="center" width="170" style="background-color: white;">&nbsp;</td>
      <?php
      foreach (array_keys($data) as $rep_name) {
      ?>
      <td class="dataTableHeadingContent" align="center" width="250" style="font-size: 12px;">
        <table width="95%" border="0">
        <tr>
          <td style="text-align: center;">
            <?php echo $rep_name;?>
          </td>
        </tr>
        </table>
      </td>
      <?php
      }
      ?>
      <td style="background-color: white;">&nbsp;</td>
    </tr>

    <?php
    while (1) {
      if (isset($_report_end_date)) {
        if ($report_type == "week" || $report_type == "month" || $report_type == "year") {
          $_report_start_date = mktime(0, 0, 0, date("m", $_report_end_date), date("d", $_report_end_date) + 1, date("Y", $_report_end_date));
        } else {
          // $_report_start_date = $_report_end_date;

          $_report_start_date = mktime(0, 0, 0, date("m", $_report_end_date), date("d", $_report_end_date) + 1, date("Y", $_report_end_date));
        }
      } else {
        $_report_start_date = strtotime(Mage::getModel('core/date')->date(null, strtotime($start_date)));
      }

      if ($_report_start_date > strtotime(Mage::getModel('core/date')->date(null, strtotime($end_date)))) {
        break;
      }

      // calculate end date
      switch ($report_type) {
        case 'year':
          $_report_end_date = mktime(23, 59, 59, 12, 31, date("Y", $_report_start_date));
          break;
        case 'month':
          $_report_end_date = mktime(23, 59, 59, date("m", $_report_start_date) + 1, 0, date("Y", $_report_start_date));
          break;
        case 'week':
          $_report_end_date = mktime(23, 59, 59, date("m", $_report_start_date), date("d", $_report_start_date) + 6, date("Y", $_report_start_date));
          break;
        case 'day':
          $_report_end_date = mktime(23, 59, 59, date("m", $_report_start_date), date("d", $_report_start_date), date("Y", $_report_start_date));
          break;
      }

      // make date label
      if ( $report_type == 'day' ) {
        $_report_date_label = date('m/d/Y', $_report_start_date);
      } else {
        $_report_date_label = date('m/d/Y', $_report_start_date) .' - '. date('m/d/Y', $_report_end_date);
      }
      ?>
      <tr class="dataTableRow">
        <td class="dataTableContent" align="center"><?php echo $_report_date_label; ?></td>
        <?php
        $currency_symbol = Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol();

        $subtotals = array();

        foreach ($data as $rep_name => $admin_data) {
        ?>
        <td class="dataTableContent" align="center" valign="top">
          <table width="95%" border="0">
          <?php
          $_has_orders = false;

          foreach ($admin_data['orders'] as $_order) {
            if (strtotime($_order['created_at']) > $_report_start_date && strtotime($_order['created_at']) < $_report_end_date) {
              echo '<tr>';

              echo '<td align="left">';

              echo '<a style="vertical-align: top;" target="_blank" href="'. Mage::helper('adminhtml')->getUrl('*/sales_order/view', array('order_id' => $_order['order_id'])) .'">';
              echo $_order['order_increment_id'];

              if ($_order['is_manager']) {
                echo ' (M)';
              }

              echo '</a>';
              echo '</td>';

              echo '<td align="right">';
              echo Mage::helper('core')->currency(abs($_order['value']), true, false);
              echo '</td>';
              echo '</tr>';

              // Calc subtotal earned for period
              if (isset($subtotals[$rep_name])) {
                $subtotals[$rep_name]['subtotal'] += round($_order['value'], 2);
                $subtotals[$rep_name]['orders'] += 1;
              } else {
                $subtotals[$rep_name] = array('subtotal' => round($_order['value'], 2), 'orders' => 1);
              }

              $_has_orders = true;
            }
          }

          if (!$_has_orders) {
            $subtotals[$rep_name] = array('subtotal' => 0, 'orders' => 0);

            echo '<tr><td colspan="2" align="center">-</td></tr>';
          }
          ?>
          </table>
          <?php
        }
        ?>
        </td>
        <td style="background-color: white;">&nbsp;</td>
      </tr>
      <tr class="dataTableRow dataTableRowOver">
        <td class="dataTableContent">&nbsp;</td>
        <?php
        foreach (array_keys($data) as $rep_name) {
        ?>
        <td class="dataTableContent" align="center" valign="top">
          <table style="width: 95%;" border="0">
          <tr>
            <td align="left"><b><?php echo $this->__('Orders: ');?></b><?php echo $subtotals[$rep_name]['orders']; ?></td>
            <td align="right">
              <b><?php echo $this->__('Subtotal:');?></b> <?php echo $subtotals[$rep_name]['subtotal'] == '' ? Mage::helper('core')->currency(0, true, false) : Mage::helper('core')->currency($subtotals[$rep_name]['subtotal'], true, false) ?>
            </td>
          </tr>
          </table>
        </td>
        <?php
        }
        ?>
        <td style="background-color: white;">&nbsp;</td>
      </tr>
      <?php
    }
    ?>

    <tr>
      <td>&nbsp;</td>
      <?php
      foreach ($data as $rep_name => $admin_data) {
        $total = 0;
        foreach ($admin_data['orders'] as $_order) {
          $total += $_order['value'];
        }
      ?>
        <td class="dataTableContent" align="center" style="width: 250px; background-color:#F0F1F1;">
          <span style="color: green; display: block; font-size: 15px; font-weight: bold; margin: 10px;">Grand Total: <?php echo Mage::helper('core')->currency($total, true, false);?></span>
        </td>
      <?php
      }
      ?>
    </tr>
    </table>
  </form>
</div>

<br />

<br /><br />
<i><?php echo $this->__('Cancelled orders are still counted towards the total. If you wish to omit them, do so in the "Include Order Status" menu above. You can also use this menu to determine how many orders are cancelled total.');?></i><br />
<i><?php echo $this->__('Please make sure it works this way (unlike commissions report) which does strikethrough for cancelled orders and doesn\'t add them to the total.');?></i>
<?php
}
?>
