@media screen {
.email-heading h1, .store-info h4, th.cell-name, a.product-name, p.product-name, .address-details h6, .method-info h6, h5.closing-text, .action-button, .action-button a, .action-button span, .action-content h1 { font-family: Arial, Helvetica, sans-serif !important;   font-weight: normal; }
}
@media screen and (max-width: 600px) { 
body { width: 94% !important; padding: 0 3% !important; display: block !important; }
.container-table { width: 100% !important; max-width: 600px; min-width: 300px; }
td.store-info h4 { margin-top: 8px !important; margin-bottom: 0px !important; }
td.store-info p { margin: 5px 0 !important; }
.wrapper { width: 100% !important; display: block; padding: 5px 0 !important; }
.cell-name, .cell-content {   padding: 8px !important; }
}
@media screen and (max-width: 450px) {
.email-heading, .store-info { float: left; width: 98% !important; display: block; text-align: center; padding: 10px 1% !important; border-right: 0px !important; }
.address-details, .method-info { width: 85%; display: block; }
.store-info { border-top: 1px dashed #c3ced4; }
.method-info { margin-bottom: 15px !important; }
}
.no-link a { color: #333333 !important; cursor: default !important; text-decoration: none !important; }
.method-info h6, .address-details h6, .closing-text { color: #3696c2 !important; }
td.order-details h3, td.store-info h4 { color: #333333 !important; }
.method-info p, .method-info dl { margin: 5px 0 !important; font-size: 12px !important; }
td.align-center { text-align: center !important; }
td.align-right { text-align: right !important; }
td.expander { padding: 0 !important; }
table.button td, table.social-button td { width: 92% !important; } 
table.facebook:hover td { background: #2d4473 !important; }
table.twitter:hover td { background: #0087bb !important; }
table.google-plus:hover td { background: #CC0000 !important; }
.method-info .bg, .address-details .bg{ padding-right:10px; margin-bottom:7px;}
.method-info .bg2, .address-details .bg2{ padding-left:10px; margin-bottom:7px;}
.method-info .border-text, .address-details .border-text{ padding:12px; border:solid 1px #e5e5e5; font-size:13px; color:#606060; line-height:18px;}
.order-information table.main-table-order { border:0 !important; }
.order-information table.main-table-order thead tr th { background:#327194 !important; color:#FFF !important; padding:0px 12px !important; height:29px; line-height:29px;}
.order-information table.main-table-order tbody tr td { font-size:13px !important; color:#606060 !important; border:0 !important; padding:10px !important; border:solid 1px #e5e5e5 !important; border-width:0 1px 1px 1px; background:#FFF !important; vertical-align:middle !important; font-weight:bold !important; }
.order-information table.main-table-order tbody tr td p{ margin:0 !important; padding:0; font-weight:bold !important;}
.order-information table.main-table-order tbody tr td strong { font-size:13px !important; color:#606060 !important; font-weight:bold !important; margin-top:5px; display:block; }
.order-information table.main-table-order tfoot tr td { font-size:13px !important; color:#606060 !important; padding:2px 10px !important; background:#FFF !important; vertical-align:middle !important; font-weight:bold !important; }
.order-information table.main-table-order tfoot tr td:first-child{ border:solid 1px #e5e5e5 !important; border-width:0px 0 0 1px !important;}
.order-information table.main-table-order tfoot tr td:last-child{ border:solid 1px #e5e5e5 !important; border-width:0px 1px 0px 0 !important;}
.order-information table.main-table-order tfoot tr.grand_total td strong { font-size:20px !important; color:#0e5881 !important; font-weight:bold !important; }
.order-information table.main-table-order tfoot tr td { padding:1px 10px !important; }
.order-information table.main-table-order tfoot tr:first-child td{ padding-top:10px !important;}
.order-information table.main-table-order tfoot tr:last-child td{ padding-bottom:10px !important; }
.order-information table.main-table-order tfoot tr:last-child  td:first-child{ border:solid 1px #e5e5e5 !important; border-width:0px 0 1px 1px !important;}
.order-information table.main-table-order tfoot tr:last-child  td:last-child{ border:solid 1px #e5e5e5 !important; border-width:0px 1px 1px 0 !important;}
@media screen and (max-width: 600px) {
 .products-grid tr td { width: 50% !important; display: block !important; float: left !important; }
}
.product-name a:hover { color: #3399cc !important; text-decoration: none !important; }