<?php
/**
 * @var $this Mage_Core_Block_Template
 */
$_productCollection = $this->getData('products');
reset($_productCollection);
$categUrl = $this->getData('categ_url');
$categImage = $this->getData('categ_image');
$counter = 0;
?>

<div class="img-box">
    <img src="<?php echo (!empty($categImage) ? $categImage : current($_productCollection)['image']) ?>">
</div>
<ul>
    <?php foreach ($_productCollection as $product): ?>
        <?php if($counter != 10): ?>
            <?php $counter++;?>
            <li>
                <a href="<?php echo $product['url']; ?>">
                    <?php if(!empty($product['lumens_slider'])): ?>
                        <?php echo $product['lumens_slider']; ?>
                    <?php elseif(!empty($product['short_group_description'])): ?>
                        <?php echo $product['short_group_description']; ?>
                    <?php else: ?>
                        <?php echo $product['name']; ?>
                    <?php endif ?>
                </a>
            </li>
        <?php else: ?>
            <?php $counter = 0; ?>
            <li class="combo-show-all"><a href="<?php echo $categUrl; ?>">View All</a></li>
            <?php return ?>
        <?php endif ?>
    <?php endforeach; ?>
</ul>


