<?php
$current_user = Mage::registry('permissions_user');

$is_admin                       = Mage::getSingleton('admin/session')->isAllowed('system/config');
//?>
<?php if ($is_admin): ?>
  <div class="entry-edit-head">
    <h4 class="icon-head head-edit-form fieldset-legend">Position</h4>
    <div class="form-buttons"></div>
  </div>
  <div id="_commission_rate_fieldset" class="fieldset ">
    <div class="hor-scroll">
      <table cellspacing="0" class="form-list">
      <tbody>

        <?php if ($is_admin): ?>
          <tr>
            <td class="label">
              <label for="salesrep_position_id">Position</label>
            </td>
            <td class="value" style="width:500px;">
                <select name="salesrep_position_id" id="salesrep_position_id">
                    <?php foreach($this->getPositionTypes() AS $positionType): ?>
                        <optgroup label="<?php echo $positionType->getName(); ?>">
                            <?php foreach($this->getPosition($positionType->getId()) as $position):;?>
                            <option value="<?php echo $position->getId(); ?>"<?php echo $this->getCurrentPosition() == $position->getId() ? ' selected' : ''; ?>> <?php echo $position->getName(); ?></option>
                            <?php endforeach;?>
                        </optgroup>
                    <?php endforeach; ?>
                </select>
            </td>
          </tr>
        <?php endif; ?>

        <?php if ($is_admin): ?>
          <tr>
            <td class="label">
              <label for="is_salesrep">Is Salesrep</label>
            </td>
            <td class="value" style="width:500px;">
                <select name="is_salesrep" id="is_salesrep">
                    <option value="0"<?php echo $current_user->getIsSalesrep() == 0 ? ' selected' : ''; ?>> <?php echo $this->__('No');?></option>
                    <option value="1"<?php echo $current_user->getIsSalesrep() == 1 ? ' selected' : ''; ?>> <?php echo $this->__('Yes');?></option>
                </select>
            </td>
          </tr>
        <?php endif; ?>
      </tbody>
      </table>
    </div>
  </div>
<?php endif; ?>
