/* Globals */
#popup_children_show label input[type=checkbox]{
    display: inline-block;
}
.wunderadmin :-moz-placeholder  { opacity: 1; }
.wunderadmin ::-moz-placeholder { opacity: 1; }

.wunderadmin .middle            { background-image: none; margin-top: 27px; }

.wunderadmin input.input-text, textarea, select
                                {
                                    border: 1px solid;
                                    background-image: none;
                                    -webkit-border-radius: 4px;
                                    -moz-border-radius: 4px;
                                    border-radius: 4px;
                                    font-size: 1.05em;
                                }
.wunderadmin .form-list td.value input.input-text,
.wunderadmin .form-list td.value textarea
                                { width: 248px; }
.wunderadmin .form-list td.value select
                                { float: left; }
.wunderadmin textarea           {
                                    padding: 6px 15px;
                                }
.wunderadmin input.input-text   {
                                    height: 39px;
                                    line-height: 39px;
                                    padding: 0 15px;
                                }

.wunderadmin label              { font-size: 1.05em; }

.wunderadmin select             {
                                    display: block;
                                    height: 41px;
                                    line-height: 1.42857;
                                    padding: 6px 15px;
                                }
.wunderadmin select[multiple]   { height: auto; padding: 0; }

.wunderadmin input[type=checkbox]
                                { display: none; }
.wunderadmin input[type=checkbox] + span.wa_checkbox_helper:before
                                {
                                    font-family: 'FontAwesome';
                                    display: inline-block;
                                    content: "\f00c";
                                    font-size: 0.95em;
                                    line-height: 18px;
                                    width: 18px;
                                    text-align: center;
                                    display: inline-block;
                                    border:1px solid;
                                    cursor: pointer;
                                    -webkit-transition: all 0.3s ease-out;
                                    -moz-transition: all 0.3s ease-out;
                                    -o-transition: all 0.3s ease-out;
                                    transition: all 0.3s ease-out;
                                    margin: 1px;
                                    -webkit-border-radius: 4px;
                                    -moz-border-radius: 4px;
                                    border-radius: 4px;
                                }
.field-100                      {
                                    -webkit-border-radius: 4px;
                                    -moz-border-radius: 4px;
                                    border-radius: 4px;
                                }
.wunderadmin .grid input[type=checkbox] + span.wa_checkbox_helper:before
                                { margin: 8px 0; }
.wunderadmin input[type=checkbox]:checked + span.wa_checkbox_helper:before
                                {
                                    border:1px solid;
                                }
.wunderadmin input[type=checkbox]:disabled + span.wa_checkbox_helper:before
                                {
                                    border:1px solid;
                                }
.wunderadmin input[type=checkbox]:checked:disabled + span.wa_checkbox_helper:before
                                {
                                    border:1px solid;
                                }

.wunderadmin .separator,
.wunderadmin .pipe              { font-size: 1.8em; }

/* Header */

.wunderadmin .header .header-top > a
                                { display: block; }
.wunderadmin .logo              { height: auto; margin: 25px 20px 25px 30px; max-height: 240px; }
.wunderadmin .header            { margin-bottom: 30px; }
.wunderadmin .header-top        { border: 0; }

.wunderadmin .header-right fieldset input.input-text
                                {
                                    border: none;
                                    font-size: 1.05em;
                                    padding: 0 20px 0 55px;
                                    height: 40px;
                                    line-height: 40px;
                                    -webkit-border-radius: 4px;
                                    -moz-border-radius: 4px;
                                    border-radius: 4px;
                                }
.wunderadmin .header-right fieldset
                                { position: relative; }
.wunderadmin .header-right fieldset:before
                                {
                                    position:absolute;
                                    font-family: 'FontAwesome';
                                    top:0;
                                    left: 31px;
                                    content: "\f002";
                                    font-size: 1.4em;
                                    line-height: 40px;
                                }
.wunderadmin #global_search_indicator
                                { position: absolute; left: 20px; top: 10px; }
.wunderadmin .header-right      { padding-top: 25px;  }
.wunderadmin .header-right .super
                                { font-size: 1.05em; height:40px; line-height: 32px; font-size: 1.05em; margin-left: 115px; }
.wunderadmin .header-right .super a
                                { text-decoration: none;  }
.wunderadmin .header-right .super .fa
                                { margin-right: 14px; font-size: 1.4em; }
.wunderadmin .go-try            {
                                    border: 0;
                                    padding: 0 20px;
                                    line-height: 34px;
                                    font-weight: bold;
                                    height: 34px;
                                    display: block;
                                    float: right;
                                    margin-left: 40px;
                                    -webkit-border-radius: 4px;
                                    -moz-border-radius: 4px;
                                    border-radius: 4px;
                                }
.wunderadmin .header-right .super .separator
                                { padding: 0 20px; }

.wunderadmin #page-help-link    {
                                    border: 3px solid;
                                    position: relative;
                                    line-height: 35px;
                                    padding: 0 16px 0 15px;
                                    font-size: 1.2em;
                                    display: block;
                                    float: right;
                                    margin-top: 4px;
                                    -webkit-border-radius: 4px;
                                    -moz-border-radius: 4px;
                                    border-radius: 4px;
                                }
.wunderadmin #page-help-link:after
                                {
                                    position:absolute;
                                    font-family: 'FontAwesome';
                                    top:0;
                                    left: 11px;
                                    content: "\f1cd";
                                }

.wunderadmin .content-header-floating h3
                                { margin-top: 7px !important; margin-bottom: 10px !important; padding-bottom: 0; }
.wunderadmin .content-header-floating button
                                { margin-top: 10px; }

/* Menu */

.wunderadmin .nav-bar           { border: 0; padding: 0 27px 0 10px; border-bottom: 2px solid; }
.wunderadmin #nav a             {
                                    line-height: 49px;
                                    font-size: 1.2em;
                                    padding: 0 20px;
                                    -webkit-transition: all 0.3s ease-out;
                                    -moz-transition: all 0.3s ease-out;
                                    -o-transition: all 0.3s ease-out;
                                    transition: all 0.3s ease-out;
                                }
.wunderadmin #nav li            {
                                    -webkit-transition: all 0.3s ease-out;
                                    -moz-transition: all 0.3s ease-out;
                                    -o-transition: all 0.3s ease-out;
                                    transition: all 0.3s ease-out;
                                }
.wunderadmin #nav a:hover       { line-height: 49px; }
.wunderadmin #nav > li:first-child
                                { border-left: 1px solid; }
.wunderadmin #nav > li          { background: none; border-right: 1px solid; }
.wunderadmin #nav li.active     { margin: 0; background: none; }
.wunderadmin #nav li span
                                { border-bottom: 2px solid;  margin-bottom: -2px; }
.wunderadmin #nav li ul li span
                                { border: 0; }
.wunderadmin #nav li.active ul a span
                                { border-bottom: 0;  margin-bottom: 0; }
.wunderadmin #nav ul            { top: 51px; width: 211px; border: 0; padding: 0; }
.wunderadmin #nav ul li         { background-image: none; }
.wunderadmin #nav ul li a       { font-size: 1.05em; border: 1px solid; border-width: 0 1px 1px 1px; padding: 16px 22px;  }
.wunderadmin #nav ul ul li:first-child > a
                                { border-top-width: 1px;  }
.wunderadmin #nav ul span,
.wunderadmin #nav ul li.last li span
                                { background: none; line-height: 1.05em; padding: 0; }
.wunderadmin #nav ul li.last    { background-image: none; border-bottom: none; }

.wunderadmin #nav ul ul         { top: -1px; background-image: none; }
.wunderadmin #nav ul ul ul      { top: 0; }
.wunderadmin #nav li.over ul    { left:-3px; }
.wunderadmin #nav li.over ul ul { left:-10000px; }
.wunderadmin #nav li.over ul li.over ul
                                { left:206px; }

.wunderadmin #nav ul ul ul      { left:-10000px; }
.wunderadmin #nav li.over ul li.over ul ul
                                { left:-10000px;}
.wunderadmin #nav li.over ul li.over ul li.over ul
                                { left:206px; }

.wunderadmin #nav ul li.parent a,
.wunderadmin #nav ul li.parent li.parent a
                                { background-image: none; }
.wunderadmin #nav ul li.parent a:before,
.wunderadmin #nav ul li.parent li.parent a:before
                                {
                                    position:absolute;
                                    font-family: 'FontAwesome';
                                    top:0;
                                    right: 20px;
                                    content: "\f054";
                                }
.wunderadmin #nav ul li.parent li a:before,
.wunderadmin #nav ul li.parent li.parent li a:before
                                { content: "" }

/* Notifications */

.wunderadmin .critical          { font-weight: bold; }
.wunderadmin .notification-global .f-right a
                                {
                                    float: right;
                                    text-decoration: none;
                                    line-height: 37px;
                                    height: 37px;
                                    padding: 0 17px;
                                    position: relative;
                                    margin: -11px 0 -11px 40px;
                                    -webkit-border-radius: 4px;
                                    -moz-border-radius: 4px;
                                    border-radius: 4px;
                                    -webkit-transition: all 0.3s ease-out;
                                    -moz-transition: all 0.3s ease-out;
                                    -o-transition: all 0.3s ease-out;
                                    transition: all 0.3s ease-out;
                                }
.wunderadmin .notification-global .f-right a:after
                                {
                                    position:absolute;
                                    font-family: 'FontAwesome';
                                    top:0;
                                    right: 13px;
                                    font-size: 0.95em;
                                    content: "\f054";
                                }

.wunderadmin .notification-global
                                {
                                    border: 2px solid;
                                    padding: 15px 5px 14px 57px;
                                    font-size: 1.05em;
                                    margin:0 27px 5px 27px;
                                    position: relative;
                                    background-image: none;
                                }
.wunderadmin .notification-global:before
                                {
                                    position:absolute;
                                    font-family: 'FontAwesome';
                                    top: 15px;
                                    left: 20px;
                                    content: "\f071";
                                    font-size: 1.4em;
                                }
.wunderadmin .notification-global-notice:before
                                {
                                    content: "\f05a";
                                }

.wunderadmin .error-msg,
.wunderadmin .notice-msg,
.wunderadmin .success-msg       { background-image: none !important; position: relative; border-width: 2px !important; font-size: 1.05em !important; padding: 15px 5px 14px 57px !important; margin: 2px 0 !important; }
.wunderadmin .error-msg:before,
.wunderadmin .notice-msg:before,
.wunderadmin .success-msg:before
                                {
                                    position:absolute;
                                    font-family: 'FontAwesome';
                                    top: 15px;
                                    left: 20px;
                                    font-size: 1.4em;
                                }
.wunderadmin .error-msg:before  { content: "\f071"; }
.wunderadmin .notice-msg:before { content: "\f05a"; }
.wunderadmin .success-msg:before
                                { content: "\f058"; }
.wunderadmin .messages li       { min-height: 0 !important; }
.wunderadmin ul.messages        { margin-bottom: 30px !important; }

/* Footer */

.wunderadmin .footer            { border-top: 4px solid; margin-top: 30px; padding: 30px; font-size: 1.05em; }
.wunderadmin .bug-report .locale_select
                                { display: block; float: left; line-height: 31px; margin-top: 16px; }
.wunderadmin .bug-report .locale_select select
                                { float: right; height: 31px; margin-left: 10px; }
.wunderadmin .legality a        { display: block; margin-bottom: 10px; }

/* Login and forgot password pages */

.wunderadmin .login-form        { border: 2px solid; padding: 40px 40px; }
.wunderadmin .login-container   { width: 637px; padding-left: 38px; }
.wunderadmin .login-form h2     { font-weight: bold; font-size: 1.8em; text-align: left; margin-left: 17px; }
.wunderadmin .login-box .bottom,
.wunderadmin .login-form label
                                { display: none; }
.wunderadmin .login-form .form-buttons
                                { margin-top: 20px; }
.wunderadmin .login-form .input-box input.input-text
                                { font-size: 1.05em; padding: 18px 16px; width: 232px; margin-top: 10px; height: 1.05em; line-height: 1.05em; }
.wunderadmin .login-form .input-box input.input-text.forgot-password
                                { width: 519px; }
.wunderadmin #username          { margin-right: 20px; }
#page-login.wunderadmin .form-button,
#page-login.wunderadmin .form-buttons .forgot-password
                                { width: 266px; height: 47px; text-transform: uppercase; font-size: 1.45em; font-weight: bold; }

.wunderadmin .login-container .legal
                                { border: 2px solid; border-top: 0; font-size: 1.05em; padding: 20px 30px; }
.wunderadmin .form-buttons a    { font-size: 1.2em; line-height: 47px; margin-left: 17px; }
.wunderadmin .login-form ul.messages
                                { margin-bottom: 10px !important; }

/* Layout */

.wunderadmin .content-header h3 { font-size: 1.4em; text-transform: uppercase; margin-bottom: 0; }
.wunderadmin .side-col h3.head-categories
                                { padding-left: 0; margin-top: 0; float: left; line-height: 37px; }
.wunderadmin .head-categories   { padding-left: 30px; position: relative; background-image: none; margin-top: 0; }

.wunderadmin .columns           { background-image: none; }
.wunderadmin div.side-col       { width: 348px; margin-right: -388px; padding-right: 40px; }
.wunderadmin div.main-col       { border-left: 3px solid; margin-left: 388px; }

.wunderadmin.adminhtml-system-config-edit div.main-col
                                { border: 0; padding-left: 0; }

.wunderadmin .content-header br { display: none; }
.wunderadmin .content-header    { margin-right: 0; border-bottom: 0; margin-bottom: 0; padding-bottom: 0; }

/* Buttons */

.wunderadmin button,
.wunderadmin .form-button       {
                                    border: 0;
                                    font-weight: normal;
                                    font-size: 1.05em;
                                    line-height: 31px;
                                    padding:0 17px;
                                    -webkit-border-radius: 4px;
                                    -moz-border-radius: 4px;
                                    border-radius: 4px;
                                    -webkit-transition: all 0.3s ease-out;
                                    -moz-transition: all 0.3s ease-out;
                                    -o-transition: all 0.3s ease-out;
                                    transition: all 0.3s ease-out;
                                }
.wunderadmin .value button      { margin: 2px 90px 0 0; }
.wunderadmin .value .buttons-set button
								{ margin: 0 5px 0 0; }

.wunderadmin button.fail:hover,
.wunderadmin button.cancel:hover,
.wunderadmin button.delete:hover
                                { background-image: none; }

.wunderadmin .side-col button,
.wunderadmin .side-col .content-header button,
.wunderadmin .side-col .form-button
                                { border: 3px solid; float: right; margin-top: 0; margin-right: 0; margin-left: 5px; }
.wunderadmin .side-col button:first-child
                                { margin-left: 0; }
.wunderadmin .side-col #order-sidebar button
                                { border: inherit; width: inherit; }

.wunderadmin button span        { background-image:none; position: relative; }
.wunderadmin button span:before {
                                    position:absolute;
                                    font-family: 'FontAwesome';
                                    top: 0;
                                    left: 8px;
                                    font-size: 1.4em;
                                }
.wunderadmin .buttons-set button span:before {
                                    left: 6px;
                                }
.wunderadmin .buttons-set.a-right button span:before,
.wunderadmin .buttons-set .f-right button span:before {
                                    left: 8px;
                                }
.wunderadmin button span span:before
                                { content: "" !important; }

.wunderadmin button.add span:before { content: "\f055"; }
.wunderadmin button.AddSelectedBtn span:before { content: "\f055"; }
.wunderadmin button.save span:before { content: "\f058" }
.wunderadmin button.SavePackagesBtn span:before { content: "\f058" }
.wunderadmin button.save_as span:before { content: "\f058" }
.wunderadmin button.reset span:before { content: "\f021" }
.wunderadmin button.cancel_button span:before { content: "\f00d" }
.wunderadmin button.get_more span:before { content: "\f08e" }
.wunderadmin button.add-widget span:before { content: "\f085" }
.wunderadmin button.add-variable span:before { content: "\f121" }
.wunderadmin button.add-image span:before { content: "\f03e" }
.wunderadmin button.show-hide span:before { content: "\f06e" }
.wunderadmin button.email span:before { content: "\f1d9" }
.wunderadmin button.export_button span:before { content: "\f019" }
.wunderadmin button.import span:before { content: "\f093" }
.wunderadmin button.btn-wysiwyg span:before { content: "\f044" }
.wunderadmin button.delete span:before { content: "\f00d" }
.wunderadmin button.flush span:before { content: "\f1b8" }
.wunderadmin button.flush_storage span:before { content: "\f1b8" }
.wunderadmin button.order_credit_memo span:before { content: "\f044" }
.wunderadmin button.order_reorder span:before { content: "\f01e" }
.wunderadmin button.order_unhold span:before { content: "\f04b" }
.wunderadmin button.order_hold span:before { content: "\f04c" }
.wunderadmin button.order_invoice span:before { content: "\f003" }
.wunderadmin button.order_ship span:before { content: "\f0d1" }
.wunderadmin button.button_select span:before { content: "\f0a6" }
.wunderadmin button.button_config span:before { content: "\f013" }
.wunderadmin button.backup_system span:before { content: "\f013" }
.wunderadmin button.backup_media span:before { content: "\f03e" }
.wunderadmin button.backup_database span:before { content: "\f1c0" }
.wunderadmin button.button_preview span:before { content: "\f002" }
.wunderadmin button.button_plain_text span:before { content: "\f0f6" }
.wunderadmin button.button_html span:before { content: "\f1c9" }
.wunderadmin button.button_edit span:before { content: "\f040" }
.wunderadmin button.back span:before { content: "\f060" }
.wunderadmin button.search span:before { content: "\f002" }
.wunderadmin button.button_assign span:before { content: "\f0c1" }
.wunderadmin button.button_label span:before { content: "\f02c" }
.wunderadmin button.button_print span:before { content: "\f02f" }

.wunderadmin button.flush_storage span:after,
.wunderadmin button.backup_system span:after,
.wunderadmin button.backup_media span:after,
.wunderadmin button.backup_database span:after,
.wunderadmin button.save_as span:after,
.wunderadmin button.save_custom span:after,
.wunderadmin button.save_continue span:after,
.wunderadmin button.save_apply span:after,
.wunderadmin button.button_add_website span:after,
.wunderadmin button.button_add_store span:after,
.wunderadmin button.button_add_store_view span:after
                                {
                                    position:absolute;
                                    font-family: 'FontAwesome';
                                    top: 8px;
                                    left: 19px;
                                    font-size: 0.95em;
                                    height: inherit;
                                    line-height: inherit;
                                }
.wunderadmin button.backup_system span:after,
.wunderadmin button.backup_media span:after,
.wunderadmin button.backup_database span:after
                                { content: "\f019"; }
.wunderadmin button.save_continue span:after { content: "\f058" }
.wunderadmin button.save_as span:after { content: "\f067"; }
.wunderadmin button.save_custom span:after { content: "\f040"; }
.wunderadmin button.save_continue span:after { content: "\f04b"; }
.wunderadmin button.save_apply span:after { content: "\f00c"; }
.wunderadmin button.flush_storage span:after { content: "\f1c0"; }
.wunderadmin button.button_add_website span:after { content: "\f0ac"; }
.wunderadmin button.button_add_store span:after { content: "\f015"; }
.wunderadmin button.button_add_store_view span:after { content: "\f06e"; }

.wunderadmin button.delete,
.wunderadmin button.save,
.wunderadmin button.SavePackagesBtn,
.wunderadmin button.reset,
.wunderadmin button.cancel_button,
.wunderadmin button.get_more,
.wunderadmin button.add-widget,
.wunderadmin button.add-variable,
.wunderadmin button.add-image,
.wunderadmin button.show-hide,
.wunderadmin button.email,
.wunderadmin button.export_button,
.wunderadmin button.import,
.wunderadmin button.btn-wysiwyg,
.wunderadmin button.back,
.wunderadmin button.search,
.wunderadmin button.order_credit_memo,
.wunderadmin button.order_reorder,
.wunderadmin button.order_unhold,
.wunderadmin button.order_hold,
.wunderadmin button.order_invoice,
.wunderadmin button.order_ship,
.wunderadmin button.button_select,
.wunderadmin button.button_config,
.wunderadmin button.backup_system,
.wunderadmin button.backup_media,
.wunderadmin button.backup_database,
.wunderadmin button.button_preview,
.wunderadmin button.button_plain_text,
.wunderadmin button.button_html,
.wunderadmin button.button_edit,
.wunderadmin button.button_assign,
.wunderadmin button.button_label,
.wunderadmin button.button_print,
.wunderadmin button.AddSelectedBtn,
.wunderadmin button.add         { padding-left: 0; }

.wunderadmin button.cancel span,
.wunderadmin button.delete span,
.wunderadmin button.save span,
.wunderadmin button.SavePackagesBtn span,
.wunderadmin button.reset span,
.wunderadmin button.cancel_button span,
.wunderadmin button.get_more span,
.wunderadmin button.add-widget span,
.wunderadmin button.add-variable span,
.wunderadmin button.add-image span,
.wunderadmin button.show-hide span,
.wunderadmin button.email span,
.wunderadmin button.export_button span,
.wunderadmin button.import span,
.wunderadmin button.btn-wysiwyg span,
.wunderadmin button.add span,
.wunderadmin button.AddSelectedBtn span,
.wunderadmin button.back span,
.wunderadmin button.search span,
.wunderadmin button.order_credit_memo span,
.wunderadmin button.order_reorder span,
.wunderadmin button.order_unhold span,
.wunderadmin button.order_hold span,
.wunderadmin button.backup_system span,
.wunderadmin button.backup_media span,
.wunderadmin button.backup_database span,
.wunderadmin button.button_preview span,
.wunderadmin button.button_plain_text span,
.wunderadmin button.button_html span,
.wunderadmin button.order_invoice span,
.wunderadmin button.order_ship span,
.wunderadmin button.button_select span,
.wunderadmin button.button_config span,
.wunderadmin button.button_preview span,
.wunderadmin button.button_plain_text span,
.wunderadmin button.button_html span,
.wunderadmin button.button_edit span,
.wunderadmin button.button_assign span,
.wunderadmin button.button_label span,
.wunderadmin button.button_print span,
.wunderadmin button.add-image span,
.wunderadmin button.add-widget span
                                { padding-left:10px; }

.wunderadmin .content-buttons button,
.wunderadmin .content-header button,
.wunderadmin .filter-actions button
                                { margin-left: 3px; }

.wunderadmin .entry-edit .form-buttons
                                { line-height: 43px; }
.wunderadmin button.icon-btn span
                                { text-indent: inherit; display: inline; }
.wunderadmin .sub-btn-set       { overflow: auto; padding: 3px 5px; background-image: none; border-right-width: 0; }
.wunderadmin .AddPackageBtn,
.wunderadmin .AddSelectedBtn
                                { margin: 10px 10px 0 0; }
.wunderadmin button.add.disabled span
                                { background-image: none; }

/* Elements */

.wunderadmin .switcher          { border: 1px solid; padding: 20px 19px; overflow: hidden; }
.wunderadmin .side-col .switcher
                                { padding-right: 58px; margin-right: 0; }
.wunderadmin .switcher label    { font-weight: bold; font-size: 1.3em; margin-bottom: 0; float: left; line-height: 41px; margin-right: 20px; }
.wunderadmin .side-col .switcher label
                                { float: none; line-height: normal; margin-right: 0; margin-bottom: 20px; }
.wunderadmin .switcher select   { width: 270px; float: left; }
.wunderadmin .side-col .switcher select
                                { width: 100%; }

.wunderadmin .switcher .link-store-scope,
.wunderadmin .link-store-scope
                                { position: relative; width: 20px; height:30px; margin: 0 -40px 0 20px; background-image: none;  }
.wunderadmin #grop_fields .link-store-scope
								{ margin-left: 14px; }
.wunderadmin #product_info_tabs_websites_content #grop_fields .link-store-scope,
.wunderadmin #order-store-selector .link-store-scope,
.wunderadmin #rule_store_labels_fieldset .link-store-scope
								{ margin-right: 10px; }
.wunderadmin .switcher .link-store-scope:before,
.wunderadmin .link-store-scope:before
                                {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    font-family: 'FontAwesome';
                                    content: "\f059";
                                    font-size: 20px;
                                    text-indent: 0;
                                    line-height: 41px;
                                }
.wunderadmin .form-list td.value .link-store-scope
                                { margin: -10px 0 0 10px; }
.wunderadmin .switcher p a      { font-size: 1.05em; display: block; margin-left: 17px; padding-top: 15px; clear: both; }

.wunderadmin .tree-actions      { text-align: left; margin: 30px 0 30px 20px; }
.wunderadmin .tree-actions a    { position: relative; font-size: 1.3em; text-decoration: none; padding-left: 26px; margin-right: 20px; }
.wunderadmin .tree-actions a:before
                                {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    font-family: 'FontAwesome';
                                    content: "\f0fe";
                                    font-size: 1.2em;
                                    line-height: 1.1em;
                                }
.wunderadmin .tree-actions a:first-child:before
                                {
                                    content: "\f146";
                                }
.wunderadmin .tree-actions .separator
                                { display: none; }

/* Tree */

.wunderadmin .categories-side-col .tree-holder
                                { margin-left: 20px; margin-right: 0; }

.wunderadmin .x-tree-node a span,
.wunderadmin .x-dd-drag-ghost a span
                                { font-size: 1.05em; }

.wunderadmin .x-tree-node .x-tree-selected a span
                                { background: none; font-weight: bold; }

.wunderadmin .x-tree-lines .x-tree-elbow-line,
.wunderadmin .x-tree-lines .x-tree-elbow,
.wunderadmin .x-tree-lines .x-tree-elbow-end,
.wunderadmin .x-tree-node-expanded .x-tree-node-icon,
.wunderadmin .x-tree-node-collapsed .x-tree-node-icon
                                { background: none; }
.wunderadmin .x-tree-node-collapsed .x-tree-node-icon,
.wunderadmin .x-tree-node-expanded .x-tree-node-icon,
.wunderadmin .x-tree-node-leaf .x-tree-node-icon
                                { width: 7px; }
.wunderadmin .x-tree-node-loading .x-tree-node-icon
                                { width: 16px; background-repeat: no-repeat; }
.wunderadmin .x-tree-node-leaf .x-tree-node-icon
                                { background-image: url('../../images/improved/tree_icons/node.png'); background-position: -6px 0; }
.wunderadmin .x-tree-lines .x-tree-elbow-end-minus,
.wunderadmin .x-tree-lines .x-tree-elbow-minus
                                { background-image: url('../../images/improved/tree_icons/minus.png'); }
.wunderadmin .x-tree-lines .x-tree-elbow-plus,
.wunderadmin .x-tree-lines .x-tree-elbow-end-plus
                                { background-image: url('../../images/improved/tree_icons/plus.png'); }

/* Tabs */

.wunderadmin ul.tabs-horiz      { background-image: none; padding-left: 0; padding-top: 0; margin: 0 0 20px; border-bottom: 2px solid; }
.wunderadmin ul.tabs-horiz li a { font-size: 1.05em; padding: 12px 0; border: 0; border-bottom: 2px solid; margin: 0 30px -2px 0; }
.wunderadmin ul.tabs-horiz li   { margin: 0; }
.wunderadmin ul.tabs-horiz li a.active
                                { font-weight: bold; }
.wunderadmin .dashboard-container td:last-child .tabs-horiz
                                { margin-bottom: 0; }
.wunderadmin .wa_dashboard_wrap
                                { border-style: solid; border-width: 0 1px 1px 1px; padding-top: 10px; }

/* Forms */

.wunderadmin .entry-edit .entry-edit-head h4
                                { font-weight: bold; font-size: 1.05em; line-height: 47px; text-transform: uppercase; }
.wunderadmin dl.accordion dt,
.wunderadmin .entry-edit .entry-edit-head
                                { padding: 16px 20px; }
.wunderadmin .box,
.wunderadmin .entry-edit fieldset,
.wunderadmin .entry-edit .fieldset
                                { border: none; border-top: 1px solid; padding-left: 0; padding-right: 0; }

.wunderadmin .form-list tr td.scope-label span
                                {
                                    border: 3px solid;
                                    line-height: 35px;
                                    padding: 0 15px;
                                    display: block;
                                    margin-left: 18px;
                                    -webkit-border-radius: 4px;
                                    -moz-border-radius: 4px;
                                    border-radius: 4px;
                                    -webkit-transition: all 0.3s ease-out;
                                    -moz-transition: all 0.3s ease-out;
                                    -o-transition: all 0.3s ease-out;
                                    transition: all 0.3s ease-out;
                                }
.wunderadmin .form-list tr td.scope-label span span
                                {
                                    border: 0;
                                    line-height: 41px;
                                    padding: 0 5px;
                                    display: block;
                                    margin: -3px 0;
                                    -webkit-border-radius: 0;
                                    -moz-border-radius: 0;
                                    border-radius: 0;
                                }
.wunderadmin .form-list tr td.scope-label
                                { background: url('../../images/clean/scope_dots.png') no-repeat 0 24px !important; }

.wunderadmin .form-list tr:hover > td.scope-label > span
                                { border: 3px solid; line-height: 35px; padding: 0 15px; display: block; margin-left: 18px; }
.wunderadmin .form-list tr:hover > td.scope-label > span > span
                                {
                                    border: 0;
                                    line-height: 41px;
                                    padding: 0 5px;
                                    display: block;
                                    margin: -3px 0;
                                    -webkit-border-radius: 0;
                                    -moz-border-radius: 0;
                                    border-radius: 0;
                                }
.wunderadmin .form-list tr:hover > td.scope-label
                                { background: url('../../images/clean/scope_dots_active.png') no-repeat 0 24px !important; }

.wunderadmin .fieldset-wide .form-list td.value input.input-text,
.wunderadmin .fieldset-wide .form-list td.value textarea
                                { width: 90% !important; }
.wunderadmin .fieldset-wide .form-list td.value td.cell-position input.input-text
                                { width: 40% !important; }
.wunderadmin .form-list td.label label
                                { padding-top: 12px; }
.wunderadmin #_newsletterbase_fieldset .form-list td.label label,
.wunderadmin #product_info_tabs_super_settings_content .form-list td.label label
                                { padding-top: 2px; }
.wunderadmin .entry-edit fieldset > span.field-row > label,
.wunderadmin .form-list td.label + td.value > strong,
.wunderadmin .form-list td.label + td.value > a,
.wunderadmin .form-list td.label + td.value > span:not(.no-display):not(.delete-image):not(.next-toselect)
                                { display: inline-block; padding-top: 12px; }
.wunderadmin .massaction .entry-edit fieldset > span.field-row > label
                                { padding-top: 0; }

.wunderadmin .form-list td.label + td.value > span#detailed_rating,
.wunderadmin .form-list td.label + td.value > span.wa_calendar_icon
                                { padding-top: 0 !important; }
.wunderadmin .form-list td.label + td.value > span.delete-image
                                { padding-top: 5px; }
.wunderadmin .form-list td.label + td.value > span.delete-image .wa_checkbox_wrapper + label
                                { padding-top: 0; }
.wunderadmin .form-list td.label + td.value > span.delete-image + p.note
                                { clear: both; }
.wunderadmin .form-list td.label + td.value > label.wa_checkbox_wrapper
                                { display: inline-block; padding-top: 10px; }
.wunderadmin .form-list td.label + td.value > label.wa_checkbox_wrapper + label
                                { padding-top: 10px; }
.wunderadmin .super-attributes li.attribute-value .attribute-value-label-container,
.wunderadmin .block_template_container
                                { line-height: 41px; }
.wunderadmin .super-attributes li.attribute-value .attribute-values-container
                                { line-height: 0; margin-left: 2px; }
.wunderadmin .custom-options .option-header .input-text
                                { width: 50% }
.wunderadmin .custom-options .option-header .select
                                { width: 95% }
.wunderadmin .custom-options .option-box .border input.input-text
                                { width: 50% !important; }
.wunderadmin .form-list td		{ vertical-align: middle; padding-right: 10px; }
.wunderadmin form .form-list td	{ vertical-align: top; padding-right: inherit; }
.wunderadmin .columns #poll_form .form-list td.value
                                { width: 313px; }
.wunderadmin .tier .data col    { width: auto; }
.wunderadmin .entry-edit .order-address input.input-text,
.wunderadmin .entry-edit .order-address .textarea
                                { width: 87% !important; }
.wunderadmin #order-comment textarea
                                { width: 95% !important; }
.wunderadmin #period_date_from,
.wunderadmin #period_date_to    { padding-right: 30px; }
.wunderadmin .actions .filter .f-left
                                { position: relative; }
.wunderadmin .actions .filter .f-left > div
                                { width: 120px; }
.wunderadmin .actions .filter .f-left button
                                { position: absolute; left: 90px; top: 24px; }
.wunderadmin .actions .a-right select
                                { display: inline-block; }
.wunderadmin #row_reports_dashboard_ytd_start select
                                { float: none !important; display: inline-block; }
.wunderadmin select[type=time],
.wunderadmin #row_reports_dashboard_ytd_start select:last-child,
.wunderadmin select#reports_dashboard_mtd_start
                                { width: 60px !important; padding-left: 10px; padding-right: 10px; float: none !important; display: inline-block; }
.wunderadmin select.select-date { float: none !important; display: inline-block; }
.wunderadmin #moneybookers_multifuncbutton span
                                { margin-top: 0 !important; line-height: 30px; }
.wunderadmin #design_tabs_general_content .form-list td.value .link-store-scope
                                { margin-top: 0; }
.wunderadmin #export_filter_form .grid td input.input-text-range-date
                                { width: 10%; }
.wunderadmin #export_filter_form .grid td .wa_calendar_icon
                                { margin-right: 20px; }
.wunderadmin #export_filter_form .grid td .wa_calendar_icon:last-child
                                { margin-right: 0; }
.wunderadmin #creditmemo_item_container .order-totals table td.label
                                { vertical-align: middle; }
.wunderadmin #history_form textarea
                                { width: 96% !important; }
.wunderadmin .columns #_accountbase_fieldset .form-list td.value
                                { width: 350px; }
.wunderadmin .columns .form-list td.value .wa_checkbox_wrapper,
.wunderadmin .entry-edit fieldset:not(#role_resources) .f-left .wa_checkbox_wrapper
                                { display: block; clear:both; float: left; }
.wunderadmin .columns .form-list td.value .wa_checkbox_wrapper + label,
.wunderadmin .entry-edit fieldset:not(#role_resources) .f-left .wa_checkbox_wrapper + label
                                { display: block; float: left; padding: 12px 0 0 3px; line-height: 22px; }
.wunderadmin .form-list td.use-default
                                { padding-top: 14px !important; }
.wunderadmin .columns .form-list td.value.use-default .wa_checkbox_wrapper + label,
.wunderadmin .columns #_accountpassword_fieldset .form-list td.value .wa_checkbox_wrapper,
.wunderadmin .columns #_accountpassword_fieldset .form-list td.value .wa_checkbox_wrapper + label
                                { padding-top: 0; }
.wunderadmin .entry-edit fieldset:not(#role_resources) .f-left .wa_checkbox_wrapper,
.wunderadmin .entry-edit fieldset:not(#role_resources) .f-left .wa_checkbox_wrapper + label
                                { padding-top: 0; padding-bottom: 3px; }

/* Configuration Tabs */

.wunderadmin .side-col h3       { font-size: 1.4em; font-weight: bold; text-transform: uppercase; margin-bottom: 15px; padding-left: 0; margin-top: 20px; }

.wunderadmin ul.tabs,
.wunderadmin ul.tabs a
                                { background: none; font-size: 1.05em; }
.wunderadmin ul.config-tabs dt  { border: 0; border-bottom: 2px solid; font-size: 1.05em; padding: 20px 0; position: relative; text-transform: uppercase; cursor: pointer; }
.wunderadmin ul.config-tabs dt:after
                                {
                                    position: absolute;
                                    top: 20px;
                                    right: 0;
                                    font-family: 'FontAwesome';
                                    content: "\f077";
                                    font-size: 1.3em;
                                }
.wunderadmin ul.config-tabs dt.collapsed
                                { border-bottom: 1px solid; }
.wunderadmin ul.config-tabs dt.collapsed:after
                                {
                                    content: "\f078";
                                }

.wunderadmin ul.tabs a.active   { border: 0; }
.wunderadmin ul.tabs span       { border: 0; border-bottom: 1px solid; padding: 15px 10px; }
.wunderadmin ul.tabs .active span
                                { background: none; font-weight: normal; }
.wunderadmin ul.tabs a.active span,
.wunderadmin ul.tabs a.active:hover span
                                { font-weight: normal; }

/* System configuration forms */

.wunderadmin .content-header h3 { padding-left: 0; position: relative; background-image: none; margin-top: 0; line-height: 37px; }

.wunderadmin .entry-edit .entry-edit-head strong,
.wunderadmin .entry-edit .entry-edit-head a
                                { font-size: 1.05em; }
.wunderadmin dl.accordion dt,
.wunderadmin .entry-edit .entry-edit-head
                                { height: 49px; padding: 0; border: 0; line-height: 49px;  }
.wunderadmin .packaging-window .entry-edit .entry-edit-head h4,
.wunderadmin .backup-dialog .entry-edit .entry-edit-head h4,
.wunderadmin .product-configure-popup .entry-edit .entry-edit-head h4
                                { padding-left: 15px; }
.wunderadmin dl.accordion dt a,
.wunderadmin .entry-edit .entry-edit-head a
                                { line-height: 47px; background-image: none; border-bottom: 2px solid; text-transform: uppercase; }
.wunderadmin dl.accordion dt.open a,
.wunderadmin div.collapseable a.open
                                { background-image: none; }
.wunderadmin .section-config    { position: relative; }
.wunderadmin .section-config:not(.with-button):after
                                {
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    font-family: 'FontAwesome';
                                    content: "\f078";
                                    font-size: 1.3em;
                                    line-height: 47px;
                                    width: 47px;
                                    height: 47px;
                                    text-align: center;
                                }
.wunderadmin .section-config.active:not(.with-button):after
                                {
                                    content: "\f077";
                                }
.wunderadmin dl.accordion dt a  { position: relative; }
.wunderadmin dl.accordion dt a:after
                                {
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    font-family: 'FontAwesome';
                                    content: "\f078";
                                    font-size: 1.3em;
                                    line-height: 47px;
                                    width: 47px;
                                    height: 47px;
                                    text-align: center;
                                }
.wunderadmin dl.accordion dt.open a:after
                                {
                                    content: "\f077";
                                }
.wunderadmin .entry-edit .section-config fieldset
                                { border: 0; }
.wunderadmin .config-heading .button span
                                {
                                    font-size: inherit;
                                    font-weight: inherit;
                                    text-shadow: none;
                                    line-height: 25px;
                                }
.wunderadmin .with-button.active:after
                                { display: none; }
.wunderadmin .section-config.complex table.form-list
                                { width: auto !important; }
.wunderadmin .config-heading    { margin-top: 0; }
.wunderadmin .section-config .config-advanced > .entry-edit-head a.open,
.wunderadmin .section-config .config-advanced > .entry-edit-head a
                                { width: 100%; }
.wunderadmin .section-config .config-advanced > .entry-edit-head a:after
                                { background-image: none; }

/* Grid Pager */

.wunderadmin .pager             { font-size: 1.05em; padding-left: 20px; line-height: 1.8em; vertical-align: middle; }
.wunderadmin .export            { font-size: 1.05em; line-height: 1.8em; }
.wunderadmin .export img        { display: none; }

.wunderadmin .pager a .arrow    { margin: 0 0 0 10px; }
.wunderadmin .pager .arrow      { margin: 0 0 0 10px; }
.wunderadmin .pager input.page + .arrow,
.wunderadmin .pager input.page + a
                                { margin: 0 10px 0 0; }
.wunderadmin .pager input.page + a .arrow
                                { margin: 0; }

.wunderadmin .pager input.page  {
                                    height: 25px;
                                    line-height: 25px;
                                    width: 29px !important;
                                    padding: 0 5px;
                                    text-align: center;
                                    -webkit-border-radius: 0;
                                    -moz-border-radius: 0;
                                    border-radius: 0;
                                }
.wunderadmin .pager select,
.wunderadmin .export select     { height: 27px; width: 55px; display: inline; padding: 0; }
.wunderadmin .link-feed         { background-image: none; position: relative; }
.wunderadmin .link-feed:before  {
                                    position:absolute;
                                    font-family: 'FontAwesome';
                                    top: -2px;
                                    left: 0;
                                    content: "\f143";
                                    font-size: 1.2em;
                                }
.wunderadmin table.actions      { margin: 20px 0; }
.wunderadmin table.actions td   { vertical-align: middle; }

/* Grid Massactions */

.wunderadmin .massaction        { border: 1px solid; height: 42px; line-height: 42px; margin: 0 0 1px 0; }
.wunderadmin .massaction a      { font-size: 1.05em; border-right: 1px solid; height: 45px; line-height: 45px; float: left; padding: 0 24px; }
.wunderadmin .massaction strong
                                { margin-left: 24px; }
.wunderadmin .massaction .separator
                                { display: none; }
.wunderadmin .massaction td     { padding: 0; border: 0; }
.wunderadmin .massaction .entry-edit fieldset
                                { border: 0; }
.wunderadmin .massaction .entry-edit .field-row label
                                { font-weight: bold; }
.wunderadmin .massaction .entry-edit fieldset select
                                { width: 271px; height: 30px; margin-left: 15px; }

/* Grid Headings */

.wunderadmin .grid table        { border: 0; }
.wunderadmin .wa_blank_line td  { height: 1px; border:0; line-height: 1px; font-size: 1px; margin:0; padding: 0;  }
.wunderadmin .grid tr.headings  { font-size: 0.95em; }
.wunderadmin .grid tr.headings th
                                { border: 1px solid; height: 45px; border-left: 1px solid; }
.wunderadmin .grid tr.headings th:first-child
                                { border-left: 1px solid; }
.wunderadmin .grid tr.headings th a
                                { line-height: 42px; }
.wunderadmin .grid tr.headings th a:hover
                                { text-decoration: none; }
.wunderadmin .grid tr.headings th a.sort-arrow-desc,
.wunderadmin .grid tr.headings th a.sort-arrow-asc
                                { border: 1px solid; height: 25px; line-height: 25px; padding: 0; margin-top: 10px; }
.wunderadmin .grid tr.headings th a.sort-arrow-desc span,
.wunderadmin .grid tr.headings th a.sort-arrow-asc span
                                { line-height: 20px; }
.wunderadmin .grid tr.headings th a span
                                { line-height: 37px; }
.wunderadmin .grid tr.headings th,
.wunderadmin .grid tr.headings th span
                                { line-height: 45px; }
.wunderadmin .grid tr.headings th a.sort-arrow-desc span.sort-title,
.wunderadmin .grid tr.headings th a.sort-arrow-asc span.sort-title
                                { background: none; position: relative; padding-right: 22px; }
.wunderadmin .grid tr.headings th a.sort-arrow-desc span.sort-title:after,
.wunderadmin .grid tr.headings th a.sort-arrow-asc span.sort-title:after
                                {
                                    position:absolute;
                                    font-family: 'FontAwesome';
                                    top: 0;
                                    right: 10px;
                                    font-size: 1.05em;
                                    line-height: 25px;
                                }
.wunderadmin .grid tr.headings th a.sort-arrow-desc span.sort-title:after
                                { content: "\f175"; }
.wunderadmin .grid tr.headings th a.sort-arrow-asc span.sort-title:after
                                { content: "\f176"; }

/* Grid Filters */

.wunderadmin .grid tr.filter th { font-size: 0.95em; border-top-width: 1px; }
.wunderadmin .grid tr.filter th:first-child
                                { border-left: 1px solid; }
.wunderadmin .grid tr.filter th:last-child
                                { border-right: 1px solid; }
.wunderadmin .grid tr.filter select
                                { height: 27px; padding: 0 3px; }
.wunderadmin .grid tr.filter input.input-text
                                { height: 21px; line-height: 21px; }
.wunderadmin .grid tr.filter .range input
                                { width: 44px !important; padding: 0 5px; }

/* Grid Data */

.wunderadmin .grid table td     { font-size: 0.95em; vertical-align: middle; }
.wunderadmin .grid table td:first-child
                                { border-left-width: 1px; }
.wunderadmin .grid table td.last
                                { border-right: 1px solid; }
.wunderadmin .grid td input.input-text
                                { width: 33%; }
.wunderadmin .price-excl-tax    { display: inline-block; }
.wunderadmin .grid table tbody:last-child td
                                { border-bottom: 1px solid; }

/* Popups */

.wunderadmin .magento_title     { font-size: 1.3em; font-weight: bold; padding: 16px 20px; }
.wunderadmin .magento_close     { background-image: none; }
.wunderadmin .magento_close:after
                                {
                                    position:absolute;
                                    font-family: 'FontAwesome';
                                    top: 16px;
                                    right: 16px;
                                    font-size: 1.3em;
                                    content: "\f00d";
                                }
.wunderadmin .package_items th.last
                                { width: 115px; }
.wunderadmin .packaging-window .package-options .options-units-weight
                                { width: 70px; }

/* M2EPro */

.wunderadmin button.search > span,
.wunderadmin button.next > span
                                { background-image: none !important; padding-left: 40px !important; }
.wunderadmin button.button_link { background-image: none !important; }
.wunderadmin.m2epro-adminhtml-ebay-listing-index h3.icon-head.head-adminhtml-ebay-listing:before
                                { content: ' '; }
.wunderadmin .form-buttons .drop_down_menu a
                                { margin-top: 0; }
.wunderadmin #category_form_container
                                { padding-left: 0; padding-right: 0; }
.wunderadmin.m2epro-adminhtml-ebay-template-editlisting .template-header
                                { width: 240px !important; }
.wunderadmin #chooser_browser select
                                { height: 150px; }
.wunderadmin #chooser_search_input_container > button
                                { line-height: 22px; }
.wunderadmin #query             { margin-right: 15px; }
.wunderadmin .schedule_table_td select
                                { display: inline-block; padding-left: 0; padding-right: 0; }
.wunderadmin #save-template_content.magento_content
                                { position: relative; }
.wunderadmin #listing_product_rules.entry-edit .entry-edit-head h4
								{ font-size: 1em; line-height: 18px; }
.wunderadmin #form_smartreport select,
.wunderadmin .grid-header .form-buttons select
                                { display: inline-block; }

/* Advanced Reports */

.wunderadmin .advr-widget-toolbar .wa_calendar_icon
                                { position: absolute; }
.wunderadmin .advr-report-block-container .advr-widget-toolbar .datecontrol .primary .interval select
                                { display: inline-block; width: 145px; }

/* Partial Payment */

.wunderadmin #partialpayment_form input.validate-date
                                { width: 100px !important; }
.wunderadmin #partialpayment_form .wa_calendar_icon
                                { margin-right: 40px; }
.wunderadmin #partialpayment_form li
                                { clear: both; }

/* BoostMyShop CRM */

.wunderadmin.crmticket-admin-ticket-edit #ticket_fieldset #ct_subject,
.wunderadmin.crmticket-admin-ticket-edit #ct_private_comments
                                { width: 96% !important }
.wunderadmin.crmticket-admin-ticket-edit #customer-infos a,
.wunderadmin.crmticket-admin-ticket-edit #customer-infos strong
                                { padding-top: 0; }
.wunderadmin.crmticket-admin-ticket-edit #message_block .form-list
                                { width: 95%; }
.wunderadmin.crmticket-admin-ticket-edit .content-header table
                                { clear: both; padding-top: 20px; }
.wunderadmin.crmticket-admin-ticket-edit .box.message-admin
                                { background-color: #fadbd9; }
.wunderadmin.crmticket-admin-ticket-edit .box.message-customer
                                { background-color: #ccffcc; }

/* BoostMyShop Product Return (RMA) */

.wunderadmin.productreturn-admin-edit .input-ele > input[type=text]
                                { width: 150px; }
.wunderadmin.productreturn-admin-edit #returnlabel
                                { padding: 0; }

/* Amasty Extended Product Grid */

.wunderadmin .ampgrid-content-header .cancel > span
                                { padding-left: 0 !important; }
.wunderadmin .ampgrid-content-buttons button.scalable
                                { margin-left: 2px; }
.wunderadmin #form-pattribute .grid table tbody tr > td:first-child,
.wunderadmin #form-pattribute .grid table tbody tr > td.last
                                { text-align: center; }

/* Mirasvit Follow-up Email  */

.wunderadmin.email-adminhtml-trigger-new #active_from,
.wunderadmin.email-adminhtml-trigger-new #active_to,
.wunderadmin.email-adminhtml-trigger-new #generate_from,
.wunderadmin.email-adminhtml-trigger-edit #active_from,
.wunderadmin.email-adminhtml-trigger-edit #active_to,
.wunderadmin.email-adminhtml-trigger-edit #generate_from
                                { padding-right: 40px; }
.wunderadmin.emaildesign-adminhtml-design-new #editor,
.wunderadmin.emaildesign-adminhtml-design-edit #editor
                                { display: block; }
.wunderadmin.emaildesign-adminhtml-design-new .htmleditor-design .CodeMirror,
.wunderadmin.emaildesign-adminhtml-design-edit .htmleditor-design .CodeMirror
                                { max-width: 840px; }
.wunderadmin.emaildesign-adminhtml-template-new .value > span#editor,
.wunderadmin.emaildesign-adminhtml-template-edit .value > span#editor
                                { width: 94%; }
.wunderadmin.emaildesign-adminhtml-template-new .htmleditor-template .areas .item .CodeMirror,
.wunderadmin.emaildesign-adminhtml-template-edit .htmleditor-template .areas .item .CodeMirror
                                { max-width: 880px; }

/* Other */

.wunderadmin #history_comment   { width: 94% !important; }

.wunderadmin ul.tabs a.error span.error,
.wunderadmin ul.tabs a.changed span.changed,
.wunderadmin ul.tabs span.changed,
.wunderadmin ul.tabs span.error
                                { border: 0; background-image: none !important; }
.wunderadmin ul.tabs a.error span.error,
.wunderadmin ul.tabs a.changed span.changed
                                { position: relative; padding: 0 0 0 5px; }
.wunderadmin ul.tabs a.error span.error:after
                                {
                                    position:absolute;
                                    font-family: 'FontAwesome';
                                    top: 0;
                                    right: 0;
                                    font-size: 1.2em;
                                    content: "\f071";
                                    font-style: normal;
                                }
.wunderadmin ul.tabs a.changed span.changed:after
                                {
                                    position:absolute;
                                    font-family: 'FontAwesome';
                                    top: 0;
                                    right: 0;
                                    font-size: 1.2em;
                                    content: "\f0c7";
                                    font-style: normal;
                                }
.wunderadmin #catalog-wysiwyg-editor .textarea
                                { padding: 6px 15px; width: 904px !important; }
.wunderadmin #browser_window div.side-col
                                { width: 288px; margin-right: -308px; padding-right: 20px; }
.wunderadmin #browser_window div.main-col
                                { border: 0; margin-left: 308px; }

.wunderadmin .entry-edit .entry-edit-head .tools
                                { line-height: 42px; padding-right: 20px; }
.wunderadmin .columns .form-list td.value .next-toselect input.input-text
                                { width: 195px !important; }
.wunderadmin .entry-edit .form-buttons
                                { margin-right: 0; }

.wunderadmin .wa_calendar_icon  {
                                    font-family: 'FontAwesome';
                                    font-size: 1.2em;
                                    font-style: normal;
                                    line-height: 39px;
                                    margin-left: -30px;
                                    cursor: pointer;
                                }
.wunderadmin .grid tr.filter .date  .wa_calendar_icon
                                { line-height: inherit; margin-left: 0; }

.wunderadmin .entry-edit .field-row label.wa_checkbox_wrapper
								{ float: none; width: inherit; }

@media screen and (max-width: 1455px) {
.wunderadmin .header-right .super
                                { margin-left: 20px; }
.wunderadmin .header-right fieldset input.input-text
								{ width: 110px; }
}

