<?php

?>
<script type="text/javascript">
    //<![CDATA[
    var payment = new Payment('co-payment-form', '<?php echo $this->getUrl('checkout/onepage/savePayment') ?>');
    //]]>
</script>

<style>
    #gift-card-container {border-bottom:1px solid #E4E4E4; padding-bottom: 15px; color: #666666; font-weight: bold;}
    #gift-card-container h5 {color: #666666;}
    #gift-card-container form {margin-left: 20px;}
    #gc-loader	{margin-left: 5px;}
    #gc-bal-loader	{margin-left: 5px;}
</style>
<div id="gift-card-container">
    <!-- nirmesh -->
    <div>
        <span class="label">Check Your Balance</span><br/>
        <label class="first grey" id="bal-num-lbl">Gift Card Number <span class="req-ast">*</span></label>
        <input class="full grey" id="bal-num" name="bal-num" type="text">
        <button type="button" title="balance" class="button blue grey" onclick="checkBal();
        return false;" id="bal-btn"><span><span>Check Balance</span></span></button><img src="<?php echo $this->getSkinUrl('images/reload.png') ?>" class="loader-btn" id="bal-loader" style="display:none;" />
        <div id="balance-text" style="display:none;">
            <p class="balance">Your Balance is:</p>
            <p class="amount" id="bal-bal"></p>
        </div>
        <div id="bal-error" style="display:none;">
        </div>
    </div>

    <!-- till here-->
    <h5><?php echo $this->__('Apply a Gift Card');?></h5>
    <?php echo $this->__('Job Name');?>
    <input id="gcjob" name="gc[job_name]" size="18" /></br>
    <?php echo $this->__('Name of Salesperson Requesting');?>
    <input id="gc_sales_person_requesting" name="gc[sales_person_requesting]" size="18" /></br>
    <?php echo $this->__('Ask When is Order Expectected?');?>
    <select id="gc_when_order_expected" name="gc[when_order_expected]">
        <?php foreach ($this->getOrderExpectedOptions() as $option) :?>
            <option value="<?php echo $option['value'];?>"><?php echo $option['label'];?></option>
        <?php endforeach;?>
    </select></br>
    <?php echo $this->__('Gift Card Number');?>
    <input id="gcnum" name="gc[number]" size="18" />
    <?php echo $this->__('Amount:');?>
    <input id="gcamount" name="gc[amount]" size="5" />
    <button type="button" class="button" onclick="applyGCard()">
        <span>
            <span><?php echo $this->__('Apply');?></span>
        </span>
    </button>
    <img src="<?php echo $this->getSkinUrl('images/reload.png') ?>" id="gc-loader" style="display:none;" />
    <br /><br />
    <div id="applied-gift-cards" style="width:100%;">
        <?php foreach ($this->getCards() as $card): ?>
            Gift Card: <?php echo Mage::helper('core')->currency($card->getAmount(), true, false); ?> (<?php echo $card->getNumber() ?>) <a href="javascript:void(0);" onclick="removeCard('<?php echo $card->getNumber() ?>')">remove</a><br />
        <?php endforeach ?>
        <br />
    </div>
    <div id="gc-order-total">
        Order Total: <a href="javascript:void(0);" onclick="getTotal();">Click to get updated total</a><img src="<?php echo $this->getSkinUrl('images/reload.png') ?>" id="gc-bal-loader" style="display:none;" />
    </div>
</div>

<form action="" id="co-payment-form">
    <fieldset>
        <?php echo $this->getChildHtml('methods') ?>
    </fieldset>
</form>
<div class="tool-tip" id="payment-tool-tip" style="display:none;">
    <div class="btn-close"><a href="#" id="payment-tool-tip-close" title="<?php echo $this->__('Close') ?>"><?php echo $this->__('Close') ?></a></div>
    <div class="tool-tip-content"><img src="<?php echo $this->getSkinUrl('images/cvv.gif') ?>" alt="<?php echo $this->__('Card Verification Number Visual Reference') ?>" title="<?php echo $this->__('Card Verification Number Visual Reference') ?>" /></div>
</div>
<div class="buttons-set" id="payment-buttons-container">
    <p class="required"><?php echo $this->__('* Required Fields') ?></p>
    <p class="back-link"><a href="#" onclick="checkout.back();
        return false;"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
    <button type="button" class="button" onclick="payment.save()"><span><span><?php echo $this->__('Continue') ?></span></span></button>
    <span class="please-wait" id="payment-please-wait" style="display:none;">
        <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" alt="<?php echo $this->__('Loading next step...') ?>" title="<?php echo $this->__('Loading next step...') ?>" class="v-middle" /> <?php echo $this->__('Loading next step...') ?>
    </span>
</div>
<script type="text/javascript">
    //<![CDATA[
    function toggleToolTip(event) {
        if ($('payment-tool-tip')) {
            $('payment-tool-tip').setStyle({
                top: (Event.pointerY(event) - 560) + 'px'//,
                //left: (Event.pointerX(event)+100)+'px'
            })
            $('payment-tool-tip').toggle();
        }
        Event.stop(event);
    }
    if ($('payment-tool-tip-close')) {
        Event.observe($('payment-tool-tip-close'), 'click', toggleToolTip);
    }
    //]]>
</script>
<script type="text/javascript">
    //<![CDATA[
    payment.currentMethod = "<?php echo $this->getChild('methods')->getSelectedMethodCode() ?>";
    //]]>
</script>

<script type='text/javascript'>
    if ($('gc-order-total').innerHTML == 'Order Total: $0.00') {
        $('checkout-payment-method-load').hide();
        payment.gcCoveredAll = 1;
    } else {
        $('checkout-payment-method-load').show();
        payment.gcCoveredAll = 0;
    }
    var total = getTotal;
    if (total == 'Order Total: $0.00') {
        $('checkout-payment-method-load').hide();
        payment.gcCoveredAll = 1;
    } else {
        $('checkout-payment-method-load').show();
        payment.gcCoveredAll = 0;
    }
    function applyGCard()
    {
        if ($('gcnum').value == '' || $('gcamount').value == '' || $('gcjob').value == '' || $('gc_sales_person_requesting').value == '' || $('gc_when_order_expected').value == '') {
            alert('Please enter a valid gift card number, amount, job name, sales person requesting or when order expected.');
        } else {
            $('gc-loader').show();
            params = {};
            params['gcjob'] = $('gcjob').value;
            params['gc_sales_person_requesting'] = $('gc_sales_person_requesting').value;
            params['gc_when_order_expected'] = $('gc_when_order_expected').value;
            params['cardNum'] = $('gcnum').value;
            params['amount'] = $('gcamount').value;
            new Ajax.Request('<?php echo Mage::getBaseUrl('web') . 'giftcards/index/applycard' ?>', {
                method: 'get',
                parameters: params,
                onSuccess: function(transport) {
                    $('gc-loader').hide();
                    if (transport.responseText == 'Invalid Card') {
                        alert('Invalid Card');
                    } else if (transport.responseText == 'Card Balance Too Low.') {
                        alert('Your gift card balance is too low to cover this amount.');
                    } else if (transport.responseText == 'invalid amount') {
                        alert('Please enter a valid amount for this gift card');
                    } else if (transport.responseText == 'Card Type') {
                        alert('It appears you are trying to pay for a card with one you are reloading. Please check the card and try again.');
                    } else if(transport.responseText == 'Refill not Payed') {
                        alert('It looks like this card was refill and not payed.');
                    } else if(transport.responseText == 'Giftcard not Payed') {
                        alert('This Giftcard was not payed');
                    }
                    else {
                        var response = transport.responseText.evalJSON();
                        $('applied-gift-cards').innerHTML = response.html;
                        $('gc-order-total').innerHTML = response.total;
                        $('gcnum').value = '';
                        $('gcamount').value = '';
                        if (response.total == 'Order Total: $0.00') {
                            $('checkout-payment-method-load').hide();
                            payment.gcCoveredAll = 1;
                        } else {
                            $('checkout-payment-method-load').show();
                            payment.gcCoveredAll = 0;
                        }
                    }
                }
            });
        }
    }
    function removeCard(num)
    {
        params = {};
        params['cardNum'] = num;
        $('gc-loader').show();
        new Ajax.Request('<?php echo Mage::getBaseUrl('web') . 'giftcards/index/removecard' ?>', {
            method: 'get',
            parameters: params,
            onSuccess: function(transport) {
                $('gc-loader').hide();
                var response = transport.responseText.evalJSON();
                $('applied-gift-cards').innerHTML = response.html;
                $('gc-order-total').innerHTML = response.total;
                $('gcnum').value = '';
                $('gcamount').value = '';
                if (response.total == 'Order Total: $0.00') {
                    $('checkout-payment-method-load').hide();
                    payment.gcCoveredAll = 1;
                } else {
                    $('checkout-payment-method-load').show();
                    payment.gcCoveredAll = 0;
                }
            }
        });
    }
    function getTotal()
    {
        $('gc-bal-loader').show();
        new Ajax.Request('<?php echo Mage::getBaseUrl('web') . 'giftcards/index/gettotal' ?>', {
            onSuccess: function(transport) {
                $('gc-order-total').innerHTML = transport.responseText;
                return transport.responseText;
            }
        });
    }

    function checkBal()
    {

        var params = {};
        $('bal-loader').show();
        $('bal-error').hide();
        $('balance-text').hide();
        params['cardnum'] = $('bal-num').value;
        new Ajax.Request('<?php echo Mage::getBaseUrl('web') . 'giftcards/index/checkbalance' ?>', {
            method: 'get',
            parameters: params,
            onSuccess: function(transport) {
                if(transport.responseText == '<p>Your card number is not valid</p>') {
                    $('bal-error').innerHTML = transport.responseText;
                    $('bal-error').show();
                } else {
                    $('bal-bal').innerHTML = transport.responseText;
                    $('balance-text').show();
                }
                $('bal-loader').hide();
            }
        });

    }

</script>
