<?php
/**
 * The MIT License (MIT)
 *
 * Copyright (c) 2011-2014 Webcomm Pty Ltd
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */
?>
<?php echo $this->getChildHtml('footer-new-and-recent-post') ?>
<footer role="contentinfo">
	<div class="footer">
    	<div class="footer-container">
        	<div class="container">
            	<div class="row clearfix">
                	<div class="col-md-6 col-sm-8">
                    	<div class="footer-links-sec">
                            <div class="row clearfix">
                                <?php echo $this->getChildHtml('Footer Links') ?>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-4">
                    	<div class="footer-newsletter right"><?php echo $this->getChildHtml('footer.newsletter') ?></div>
                        <div class="company-info left">
                        	<img src="<?php echo $this->getSkinUrl('images/footer-logo.png') ?>" alt="" />
                        	<?php echo Mage::getStoreConfig('general/store_information/address'); ?>
                            <?php echo $this->getChildHtml('footer-address-link') ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
        	<div class="container">
            	<div class="row clearfix">
                	<div class="col-md-6 col-sm-5 right">
                    	<ul>
                        	<li><a href="<?php echo $this->getUrl('showroom') ?>"><?php echo $this->__('Showroom') ?></a></li>
                            <li><a href="<?php echo $this->getUrl('events-tradeshows') ?>"><?php echo $this->__('Events / Tradeshows') ?></a></li>
                            <li><a href="<?php echo $this->getUrl('careers') ?>"><?php echo $this->__('Careers') ?></a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-7 left">
                    	<p class="copyright-txt"><?php echo '&copy; '.date(' Y ').$this->getCopyright() ?></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>