<?php
/**
 * The MIT License (MIT)
 *
 * Copyright (c) 2011-2014 Webcomm Pty Ltd
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */
?>
<?php
/**
 * @var Mage_Page_Block_Html_Header $this
 */
?>
<header role="banner">
<div class="fixed-header">
	<div class="header">
    	<div class="header-top-sec">
        	<div class="container">
            	<div class="row clearfix">
                	<div class="col-md-6 col-xs-6">
                    	<div class="brand-logo-sec">
                        	<?php if ($this->getIsHomePage()):?>
        						<h1 class="logo"><strong><?php echo $this->getLogoAlt() ?></strong><a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="logo"><img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" /></a></h1>
        					<?php else:?>
        						<a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="logo"><strong><?php echo $this->getLogoAlt() ?></strong><img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" /></a>
        					<?php endif?>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-6">
                    	<div class="header-right-sec">
                        	<ul>
                            <?php if (Mage::getSingleton('customer/session')->isLoggedIn()): 
								$customer = Mage::getSingleton('customer/session')->getCustomer();
							?>
                            	<li class="cart-sec">
                                	<?php
									  $count = $this->helper('checkout/cart')->getSummaryCount();
									  $total = $this->helper('checkout/cart')->getQuote()->getGrandTotal();
									  if($count==0)
									  {
										echo $this->__('<a href="/checkout/cart" class="cartgo">( 0 )</a>',$count);
									  }
									  if($count==1)
									  {
										echo $this->__('<a href="/checkout/cart" class="cartgo">( 1 )</a>',$count);
									  }
									  if($count>1)
									  {
										echo $this->__('<a href="/checkout/cart" class="cartgo">( %s )</a>',$count);
									  }
									  echo $this->__('', $this->helper('core')->formatPrice($total, false));
									?>
                                </li>
                                <?php endif; ?>
                            	
                                	<?php if (! Mage::getSingleton('customer/session')->isLoggedIn()): ?>
                                    <li class="login-sec no-icon-mobile">
                                    	<a class="login-link" href="<?php echo Mage::helper('customer')->getLoginUrl(); ?>"><?php echo $this->__('Login') ?></a>
                                        <?php echo $this->__(' / ') ?>
                                        <a href="<?php echo $this->getUrl('customer/account/create') ?>"><?php echo $this->__('Register') ?></a>
                                    </li>
                                    <?php else: ?>
                                    <li class="login-sec">
                                    	<span class="welcome-message"><?php echo $this->__("Hello,") ?>  <?php echo $customer->getFirstname(); ?></span>
                                        <div class="account-link"><span><?php echo $this->__("Account") ?></span>
                                            <ul>
                                                <li><a href="<?php echo $this->getUrl("customer/account") ?>"><?php echo $this->__('Account Dashboard') ?></a></li>
                                                <li><a href="<?php echo $this->getUrl("customer/account/edit") ?>"><?php echo $this->__('Account Information') ?></a></li>
                                                <li><a href="<?php echo $this->getUrl("sales/order/history") ?>"><?php echo $this->__('Orders') ?></a></li>
                                                <li><a href="<?php echo $this->getUrl("wishlist") ?>"><?php echo $this->__('Project Folders') ?></a></li>
                                                <li><a href="<?php echo $this->getUrl("newsletter/manage") ?>"><?php echo $this->__('Newsletter Subscriptions') ?></a></li>
                                                <li><a href="<?php echo $this->getUrl("quotepdfprinter/pdf/index") ?>"><?php echo $this->__('PDF quotes') ?></a></li>
												<li><a href="<?php echo $this->getUrl("giftcards/index/balance/") ?>"><?php echo $this->__('Credit Balance') ?></a></li>
                                                <li><a href="<?php echo $this->getUrl("downloadable/customer/products") ?>"><?php echo $this->__('Downloads') ?></a></li>
                                                <li class="hide-desktop"><a href="<?php echo Mage::helper('customer')->getLogoutUrl(); ?>"><?php echo $this->__('Log Out') ?></a></li>
                                            </ul>

                                        </div>
                                    	<a class="logout-link" href="<?php echo Mage::helper('customer')->getLogoutUrl(); ?>"><?php echo $this->__('(Log Out)') ?></a>
                                        </li>
                                    <?php endif; ?>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom-sec">
        	<div class="container">
				<?php echo $this->getChildHtml('topMenu') ?>
                <div class="search-right">
                	<?php echo $this->getChildHtml('topSearch') ?>
                </div>
                <div class="cms-nav">
                	<?php echo $this->getChildHtml('Nav CMS Link') ?>
                </div>
            </div>
        </div>
    </div>  
    </div>  	
</header>

<?php if ($this->getIsHomePage()):?>
	<div class="home-slider-sec">
    	<?php echo $this->getChildHtml('Home Slider') ?>
        <div class="slider-search-sec">
        <?php echo $this->getChildHtml('topSearchSlider') ?>
        
        </div>
        <div class="down-arrow-slide"><a href="#home-bottom-callouts" class="slide-scroll"><?php echo $this->__("Arrow") ?></a></div>
    </div>
<?php endif?>

