<?php

?>

<?php if ($this->getTotals()): ?>
<tfoot>
    <?php $_colspan = $this->helper('tax')->displayCartBothPrices() ? 5 : 3; ?>
    
    <?php echo $this->renderTotals(null, $_colspan); ?>
    
    <?php foreach($this->getGiftCards() as $card): ?>
    <tr>
        <td class="a-right" colspan="<?php echo $_colspan; ?>">
            <small>Gift Card (<?php echo $card->getNumber() ?>)</small>
        </td>
        <td class="a-right">
            <small>-<?php echo Mage::helper('core')->currency($card->getAmount(), true, false); ?> </small>
        </td>
    </tr> 
    <?php endforeach ?>
       
    <?php echo $this->renderTotals('footer', $_colspan); ?>
    <?php  if(version_compare('1.4.0', Mage::getVersion(), '<=')): ?>
	    <?php if ($this->needDisplayBaseGrandtotal()):?>
	    <tr>
	        <td class="a-right" colspan="<?php echo $_colspan; ?>">
	            <small><?php echo $this->helper('sales')->__('Your credit card will be charged for') ?></small>
	        </td>
	        <td class="a-right">
	            <small><?php echo $this->displayBaseGrandtotal() ?></small>
	        </td>
	    </tr>
	    <?php endif ?>
    <?php endif ?>
</tfoot>
<?php endif; ?>
