<?php

/** @var Algolia_Algoliasearch_Helper_Config $config */
$config = Mage::helper('algoliasearch/config');

/** @var Mage_Customer_Model_Session $session */
$session = Mage::getSingleton('customer/session');
$group_id = $session->getCustomerGroupId();

$currency_code = Mage::app()->getStore()->getCurrentCurrencyCode();
$price_key = $config->isCustomerGroupsEnabled(Mage::app()->getStore()->getStoreId()) ? '.'.$currency_code.'.group_'.$group_id : '.'.$currency_code.'.default';

?>

<!-- Product hit template -->
<script type="text/template" id="instant-hit-template">
    {{#hits}}
        <div class="col-md-4 col-sm-6">
            <div class="result-wrapper">
                <div href="{{url}}" class="result">
                    <div class="result-content">
                            <div class="result-thumbnail">
                                <a  href="{{url}}">{{#image_url}}<img src="{{{ image_url }}}"/>{{/image_url}}</a>
                                <a  href="{{url}}">{{^image_url}}<span class="no-image"></span>{{/image_url}}</a>
                                <a href="#" class="mgkviewlightbox" data-url="/lightboxdetail/ajax_index/view/id/{{objectID}}"><span>+</span>Quick View</a>
                            </div>
                        <div class="result-sub-content">
                            <div class="product-sku">{{{ _highlightResult.sku.value }}}</div>
							  <h3 class="result-title text-ellipsis">
                                <a  href="{{url}}">
                                    {{{ _highlightResult.name.value }}}
                                </a>        
                            </h3>
                            <div class="product-cate">{{{ _highlightResult.categories_without_path.0.value}}}</div>
                            <div class="result-description text-ellipsis">{{{ _highlightResult.description.value }}}</div>
                            
                            <div class="actions">
                                <button onclick="setLocation('{{url}}')" class="button btn-cart" title="View Details" type="button"><span><span>View Details</span></span></button>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    {{/hits}}
</script>