<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_product = Mage::registry('current_product'); ?>
<?php if (($_product->getData('high_res_photo') && $_product->getData('high_res_photo') != "no_selection")
        || $_product->getData('web_cs')
        || $_product->getData('instruction_sheet')
        || $_product->getData('instruction_sheet')
        || $_product->getData('photometry')
        || $_product->getData('lawdim2')
        || $_product->getData('brochure')
        || $_product->getData('ies_file') 
        || $_product->getData('revit_file')) : ?>
<div class="top-download-sec clearfix">
    <h2><?php echo $this->__("Downloads") ?></h2>
    <ul class="clearfix">

        <?php
        if ($_product->getData('high_res_photo') && $_product->getData('high_res_photo') != "no_selection") {
            ?>
            <li class="download-photo"><a target="_blank" href="<?php echo $this->helper('catalog/image')->init($_product, 'high_res_photo') ?>" download><i>&nbsp;</i><?php echo $this->__("Photo") ?></a></li>
            <?php
        }
        if ($_product->getData('web_cs')) {
            ?>
            <li class="download-specification"><a target="_blank" href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB) . $_product->getData('web_cs') ?>"><i>&nbsp;</i><?php echo $this->__("Spec<span>ification</span> Sheets") ?></a></li>
            <?php
        }
        if ($_product->getData('instruction_sheet')) {
            ?>
            <li class="download-instruction"><a target="_blank" href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB) . $_product->getData('instruction_sheet') ?>"><i>&nbsp;</i><?php echo $this->__("Instruction Sheet") ?></a></li>
            <?php
        }
        if ($_product->getData('photometry')) {
            ?>
            <li class="download-photometry"><a target="_blank" href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB) . $_product->getData('photometry') ?>"><i>&nbsp;</i><?php echo $this->__("Photometry") ?></a></li>
            <?php
        }
        if ($_product->getData('lawdim2')) {
            ?>
            <li class="download-line"><a target="_blank" href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB) . $_product->getData('lawdim2') ?>"><i>&nbsp;</i><?php echo $this->__("Line Art") ?></a></li>
            <?php
        }
        if ($_product->getData('brochure')) {
            ?>
            <li class="download-brochure"><a target="_blank" href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB) . $_product->getData('brochure') ?>"><i>&nbsp;</i><?php echo $this->__("Brochure") ?></a></li>
            <?php
        }
        if ($_product->getData('ies_file')) {
            ?>
            <li class="download-ies"><a target="_blank" href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB) . $_product->getData('ies_file') ?>"><i>&nbsp;</i><?php echo $this->__("IES File") ?></a></li>
            <?php
        }
        if ($_product->getData('revit_file')) {
            ?>
            <li class="download-revit"><a target="_blank" href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB) . $_product->getData('revit_file') ?>"><i>&nbsp;</i><?php echo $this->__("REVIT File") ?></a></li>
        <?php } ?>
    </ul>
</div>
<?php endif; ?>