<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_product = Mage::registry('current_product'); ?>

<?php $light_source = $_product->getAttributeText('light_source') ?>
<?php $phase_out = $_product->getAttributeText('phasing_out') ?>
<?php $spec_packages = $_product->getAttributeText('spec_packages') ?>
<?php $fixture_labeling = $_product->getAttributeText('fixture_labeling') ?>
<?php $input_voltage = $_product->getAttributeText('input_voltage') ?>
<?php $applications = $_product->getAttributeText('application') ?>
<?php $shippingicon = $_product->getAttributeText('shipping') ?>

<?php $options_icons = $_product->getAttributeText('options_icons') ?>
<?php
if ($fixture_labeling != NULL || $light_source != NULL || $options_icons!=NULL || $applications != NULL || $phase_out == 'Yes') :
    ?>
    <div class="top-features-sec clearfix">
        <h2><?php echo $this->__("Available Features") ?> <a href="javascript:void(0)" class="tool-tip-small hasTooltipfeatures">?</a>
          <div style="display:none;">
          	<div class="tool-tip-box"><?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('available-features-tooltip-block')->toHtml(); ?></div>
           </div>
        </h2>
        <ul class="clearfix">
        	<?php if(is_array($fixture_labeling)): ?>
            
            	 <?php if(in_array("Energy Star Qualified",$fixture_labeling)): ?>
                   <li><img alt="<?php echo $this->__('Energy Star Qualified') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/energy-star.png'); ?>" /><a href="javascript:void(0)" class="tool-tip-sec hasTooltip">?</a>
                    <div style="display:none;">
                        <div class="tool-tip-box"><?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('energy-star-qualified-tooltip-block')->toHtml(); ?></div>
                    </div>
                </li>
            <?php endif;?>
            
             <?php else:?>
        	<?php if($fixture_labeling == "Energy Star Qualified"): ?>
                    <li><img alt="<?php echo $this->__('Energy Star Qualified') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/energy-star.png'); ?>" /><a href="javascript:void(0)" class="tool-tip-sec hasTooltip">?</a>
                    <div style="display:none;">
                        <div class="tool-tip-box"><?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('energy-star-qualified-tooltip-block')->toHtml(); ?></div>
                    </div>
                </li>
                
            <?php endif;?>
              <?php endif;?>
            
            <?php if(is_array($shippingicon)): ?>
            
            
                 <?php if(in_array("QuickShip",$shippingicon)): ?>
                       <li><img alt="<?php echo $this->__('QuickShip') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/Quickship.png'); ?>" />
                                <a href="javascript:void(0)" class="tool-tip-sec hasTooltip3">?</a>
                            <div style="display:none;">
                                <div class="tool-tip-box"><?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('quickship-tooltip-block')->toHtml(); ?></div>
                            </div>
                            </li>
                <?php endif;?>

                 <?php  if(in_array("Ready2Ship",$shippingicon)): ?>
                    <li><img alt="<?php echo $this->__('Ready2Ship') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/Ready-To-Ship.png'); ?>" />
                            <a href="javascript:void(0)" class="tool-tip-sec hasTooltip2">?</a>
                            <div style="display:none;">
                                <div class="tool-tip-box"><?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('ready2ship-tooltip-block')->toHtml(); ?></div>
                            </div>
                            </li>
                <?php endif;?>

                <?php  if(in_array("Coming Soon",$shippingicon)): ?>
                    <li><img alt="<?php echo $this->__('Coming Soon') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/coming_soon.png'); ?>" /></li>
                <?php endif;?>
            
            <?php else:?>
            
                <?php if($shippingicon == "QuickShip"): ?>
                       <li><img alt="<?php echo $this->__('QuickShip') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/Quickship.png'); ?>" />
                                <a href="javascript:void(0)" class="tool-tip-sec hasTooltip3">?</a>
                            <div style="display:none;">
                                <div class="tool-tip-box"><?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('quickship-tooltip-block')->toHtml(); ?></div>
                            </div>
                            </li>
                <?php endif;?>

                 <?php if($shippingicon == "Ready2Ship"): ?>
                    <li><img alt="<?php echo $this->__('Ready2Ship') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/Ready-To-Ship.png'); ?>" />
                            <a href="javascript:void(0)" class="tool-tip-sec hasTooltip2">?</a>
                            <div style="display:none;">
                                <div class="tool-tip-box"><?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('ready2ship-tooltip-block')->toHtml(); ?></div>
                            </div>
                            </li>
                <?php endif;?>

                <?php if($shippingicon == "Coming Soon"): ?>
                    <li><img alt="<?php echo $this->__('Coming Soon') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/coming_soon.png'); ?>" /></li>
                <?php endif;?>
            
            <?php endif;?>
  
            
    <?php
	if (is_array($fixture_labeling)):
    foreach ($fixture_labeling as $fixture) :
        switch ($fixture) : 
			case 'Emergency':
                        ?>
                        <li><img alt="<?php echo $this->__('Emergency') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/emergency-back-up.png'); ?>" /></li>
                 
                 <?php
                        break;       
            	case 'Damp Location':
                ?>
                        <li><img alt="<?php echo $this->__('Damp Location') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/damp-location.png'); ?>" /></li>
                                           
                        
                        <?php
                        break;
                    case 'Fire Rated':
                        ?>
                        <li><img alt="<?php echo $this->__('Fire Rated') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/fire-location.png'); ?>" /></li>
                        <?php
                        break;
                    case 'IC Rated':
                        ?>
                        <li><img alt="<?php echo $this->__('IC Rated') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/ic-rated.png'); ?>" /></li>
                        <?php
                        break;
                   		 case '277V':
                        ?>
                        <li><img alt="<?php echo $this->__("277V") ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/277vicon.png'); ?>" /></li>
                        
                        <?php
                        break;
                    case 'US Assembled':
                        ?>
                        <li><img alt="<?php echo $this->__('US Assembled') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/usa.png'); ?>" /></li>
                        <?php
                        break;
					case 'Sloped Ceiling':
                        ?>
                        <li><img alt="<?php echo $this->__('Sloped Ceiling') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/slopped-ceiling.png'); ?>" /></li>
                        <?php
                        break;
                    case 'Wet Location':
                        ?>
                        <li><img alt="<?php echo $this->__('Wet Location') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/wet-location.png'); ?>" /></li>
                        
                        <?php
                        break;
                    	case 'Cold Weather':
                        ?>
                        <li><img alt="<?php echo $this->__('Cold Weather') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/cold-weather-icon.png'); ?>" /></li>
                        
                        <?php
                        break;
                    	case 'Outdoor':
                        ?>
                        <li><img alt="<?php echo $this->__('Outdoor') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/outdoor_icon.png'); ?>" /></li>
                        
                        <?php
                        break;
                    case '120V':
                        ?>
                        <li><img alt="<?php echo $this->__('120V') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/120v.png'); ?>" /></li>
                        <?php
                        break;
                    default : break;
                endswitch;
            endforeach;
			else:
			 switch ($fixture) :
            	case 'Damp Location':
                ?>
                        <li><img alt="<?php echo $this->__('Damp Location') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/damp-location.png'); ?>" /></li>
                        <?php
                        break;
	                    case 'Emergency':
                        ?>
                        <li><img alt="<?php echo $this->__('Emergency') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/emergency-back-up.png'); ?>" /></li>
                        
                      
                   
                        <?php
                        break;
                    case 'Fire Rated':
                        ?>
                        <li><img alt="<?php echo $this->__('Fire Rated') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/fire-location.png'); ?>" /></li>
                        <?php
                        break;
                    case 'IC Rated':
                        ?>
                        <li><img alt="<?php echo $this->__('IC Rated') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/ic-rated.png'); ?>" /></li>
                        <?php
                        break;
                   		 case '277V':
                        ?>
                        <li><img alt="<?php echo $this->__("277V") ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/277vicon.png'); ?>" /></li>
                        
                        <?php
                        break;
                    case 'US Assembled':
                        ?>
                        <li><img alt="<?php echo $this->__('US Assembled') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/usa.png'); ?>" /></li>
                        <?php
                        break;
					case 'Sloped Ceiling':
                        ?>
                        <li><img alt="<?php echo $this->__('Sloped Ceiling') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/slopped-ceiling.png'); ?>" /></li>
                        <?php
                        break;
                    case 'Wet Location':
                        ?>
                        <li><img alt="<?php echo $this->__('Wet Location') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/wet-location.png'); ?>" /></li>
                        
                        <?php
                        break;
                    	case 'Cold Weather':
                        ?>
                        <li><img alt="<?php echo $this->__('Cold Weather') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/cold-weather-icon.png'); ?>" /></li>
                        
                        <?php
                        break;
                    	case 'Outdoor':
                        ?>
                        <li><img alt="<?php echo $this->__('Outdoor') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/outdoor_icon.png'); ?>" /></li>
                                                
                        <?php
                        break;
                    case '120V':
                        ?>
                        <li><img alt="<?php echo $this->__('120V') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/120v.png'); ?>" /></li>
                        <?php
                        break;
                    default : break;
                endswitch;
			
			endif;
            ?>
            <?php
			if (is_array($light_source)):
            foreach ($light_source as $light):
				switch ($light) :
                    case 'Dedicated LED':
                        ?>
             
                    <li><img alt="<?php echo $this->__('Dedicated LED') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/dedicated-led.png'); ?>" /></li>
                    <?php
                	 break;
                    default: break;
                endswitch;
            endforeach;
			else:
			switch ($light_source) :
                    case 'Dedicated LED':
                        ?>
             
                    <li><img alt="<?php echo $this->__('Dedicated LED') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/dedicated-led.png'); ?>" /></li>
                    <?php
                	 break;
                    default: break;
                endswitch;
			endif;
            ?>
            
            
            <?php
			if (is_array($applications)):
            foreach ($applications as $application) :
                switch ($application) :
                    case 'Adjustable':
                        ?>
                        <li><img alt="<?php echo $this->__('Adjustable') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/adjustable.png'); ?>" /></li>
                        <?php
                        break;
                    case 'Ambient Lighting':
                        ?>
                        <li><img alt="<?php echo $this->__('Ambient Lighting') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/ambient-lighting.png'); ?>" /></li>
                        <?php
                        break;
                    case 'Decorative':
                        ?>
                        <li><img alt="<?php echo $this->__('Decorative') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/decorative-trim.png'); ?>" /></li>
                        <?php
                        break;
                    case 'Downlight':
                        ?>
                        <li><img alt="<?php echo $this->__('Downlight') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/downlight.png'); ?>" /></li>
                        <?php
                        break;
                    case 'Sloped Ceiling':
                        ?>
                        <li><img alt="<?php echo $this->__('Sloped Ceiling') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/slopped-ceiling.png'); ?>" /></li>
                        <?php
                        break;
                    case 'Spot Lighting':
                        ?>
                        <li><img alt="<?php echo $this->__('Spot Lighting') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/spot-lighting.png'); ?>" /></li>
                        <?php
                        break;
                    case 'Uplight':
                        ?>
                        <li><img alt="<?php echo $this->__('Uplight') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/uplight.png'); ?>" /></li>
                        <?php
                        break;
                    case 'Wall Wash':
                        ?>
                        <li><img alt="<?php echo $this->__('Wall Wash') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/wall-wash.png'); ?>" /></li>
                        <?php
                        break;
                    default: break;
                endswitch;
            endforeach;
			else:
			 switch ($applications) :
                    case 'Adjustable':
                        ?>
                        <li><img alt="<?php echo $this->__('Adjustable') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/adjustable.png'); ?>" /></li>
                        <?php
                        break;
                    case 'Ambient Lighting':
                        ?>
                        <li><img alt="<?php echo $this->__('Ambient Lighting') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/ambient-lighting.png'); ?>" /></li>
                        <?php
                        break;
                    case 'Decorative':
                        ?>
                        <li><img alt="<?php echo $this->__('Decorative') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/decorative-trim.png'); ?>" /></li>
                        <?php
                        break;
                    case 'Downlight':
                        ?>
                        <li><img alt="<?php echo $this->__('Downlight') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/downlight.png'); ?>" /></li>
                        <?php
                        break;
                    case 'Sloped Ceiling':
                        ?>
                        <li><img alt="<?php echo $this->__('Sloped Ceiling') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/slopped-ceiling.png'); ?>" /></li>
                        <?php
                        break;
                    case 'Spot Lighting':
                        ?>
                        <li><img alt="<?php echo $this->__('Spot Lighting') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/spot-lighting.png'); ?>" /></li>
                        <?php
                        break;
                    case 'Uplight':
                        ?>
                        <li><img alt="<?php echo $this->__('Uplight') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/uplight.png'); ?>" /></li>
                        <?php
                        break;
                    case 'Wall Wash':
                        ?>
                        <li><img alt="<?php echo $this->__('Wall Wash') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/wall-wash.png'); ?>" /></li>
                        <?php
                        break;
                    default: break;
                endswitch;
			endif;
			
            ?>
            <?php
			if (is_array($options_icons)):
            foreach ($options_icons as $options_icon) :
                switch ($options_icon) :
                    case '1-Accessory': ?>
                        <li><img alt="<?php echo $this->__('1-Accesorry') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/1-accessory.png'); ?>" /></li>
                        <?php
                        break;
                        case '2-Accessory': ?>
                        <li><img alt="<?php echo $this->__('2-Accesorry') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/2-accessory.png'); ?>" /></li>
                        <?php
                        break;
						
						case '3-Accessory': ?>
                        <li><img alt="<?php echo $this->__('3-Accesorry') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/3-accessory.png'); ?>" /></li>
                        <?php
                        break;
                    default: break;
                endswitch;
            endforeach;
			else:
			
			  switch ($options_icons) :
                    case '1-Accessory': ?>
                        <li><img alt="<?php echo $this->__('1-Accesorry') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/1-accessory.png'); ?>" /></li>
                        <?php
                        break;
						
						case '2-Accessory': ?>
                        <li><img alt="<?php echo $this->__('2-Accesorry') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/2-accessory.png'); ?>" /></li>
                        <?php
                        break;
						
						case '3-Accessory': ?>
                        <li><img alt="<?php echo $this->__('3-Accesorry') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/3-accessory.png'); ?>" /></li>
                        <?php
                        break;
                    default: break;
                endswitch;
			
			endif;
            ?>
            
            
          <!--------new code3----------->
            <?php
	if (is_array($fixture_labeling)):
    foreach ($fixture_labeling as $fixture) :
        switch ($fixture) :
            	case 'ETL LISTED': ?>     
                        <li><img alt="<?php echo $this->__('ETL LISTED') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/etllisted-icon.png'); ?>" /></li>                        
                        <?php
                        break;
                    default : break;
                endswitch;
            endforeach;
			else:
			 switch ($fixture_labeling) :
            	case 'ETL LISTED':
                ?>
                        <?php
                        break;
                    	case 'ETL LISTED':
                        ?>
                        <li><img alt="<?php echo $this->__('ETL LISTED') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/etllisted-icon.png'); ?>" /></li>
                        <?php
                        break;
                    default : break;
                endswitch;
			
			endif;
            ?>

           <!--------new code4-----------> 
           <?php
	if (is_array($fixture_labeling)):
    foreach ($fixture_labeling as $fixture) :
        switch ($fixture) :
            	case 'UL LISTED':
                ?>     
                        <li><img alt="<?php echo $this->__('UL LISTED') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/ullisted-icon.png'); ?>" /></li>                       
                        <?php
                        break;
                    default : break;
                endswitch;
            endforeach;
			else:
			 switch ($fixture_labeling) :
            	case 'UL LISTED':
                ?>
                      <li><img alt="<?php echo $this->__('UL LISTED') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/ullisted-icon.png'); ?>" /></li>
                        <?php
                        break;
                    default : break;
                endswitch;
			
			endif;
            ?>
            
            
            
            
            <?php if ($spec_packages == 'Yes'): ?>
                <li><img alt="<?php echo $this->__('Spec Packages') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/spec-packages.png'); ?>" /></li>
            <?php endif; ?>
            
                  
             <!-- New Code1 -->
              <?php
			if (is_array($shippingicon)):
            foreach ($shippingicon as $shipping) :
                switch ($shipping) :
                    case 'Special Order':
                        ?>
                        <li><img alt="<?php echo $this->__('Special Order') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/Speical-Order.png'); ?>" /></li>
                        
                        <?php
                        break;
                    default: break;
                endswitch;
            endforeach;
			else:
			 switch ($shippingicon) :

                    case 'Special Order':
                        ?>
                        <li><img alt="<?php echo $this->__('Special Order') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/Speical-Order.png'); ?>" /></li>
                        <?php
                        break;
                    default: break;
                endswitch;
			endif;
			
            ?>     
            
          <!-- New Code2 -->
              <?php
			if (is_array($input_voltage)):
            foreach ($input_voltage as $input_voltage) :
                switch ($input_voltage) :
                    case '120V':
                        ?>
                        <li><img alt="<?php echo $this->__('120V') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/120v.png'); ?>" /></li>
                        <?php
                        break;
                    case '277V':
                        ?>
                        <li><img alt="<?php echo $this->__('277V') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/277vicon.png'); ?>" /></li>                                              
                        <?php
                        break;
                    default: break;
                endswitch;
            endforeach;
			else:
			 switch ($input_voltage) :
                    case '120V':
                        ?>
                         <li><img alt="<?php echo $this->__('120V') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/120v.png'); ?>" /></li>
                        <?php
                        break;
                    case '277V':
                        ?>
                        <li><img alt="<?php echo $this->__('277V') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/277vicon.png'); ?>" /></li>                        
                        <?php
                        break;
                    default: break;
                endswitch;
			endif;
			
            ?>

            <?php if (is_array($fixture_labeling)): ?>
                <?php  if(in_array("Dark Sky Compliant",$fixture_labeling)): ?>
                    <li><img alt="<?php echo $this->__('Dark Sky Compliant') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/dark_sky.png'); ?>" /></li>
                <?php endif;?>
                <?php if(in_array("ADA Compliant",$fixture_labeling)):?>
                    <li><img alt="<?php echo $this->__('ADA Compliant') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/ada.png'); ?>" /></li>
                <?php endif;?>
                <?php if(in_array("Drive Over",$fixture_labeling)):?>
                    <li><img alt="<?php echo $this->__('Drive Over') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/drive_over.png'); ?>" /></li>
                <?php endif;?>
                <?php if(in_array("Tamper Resistant",$fixture_labeling)):?>
                    <li><img alt="<?php echo $this->__('Tamper Resistant') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/tamper_resistant.png'); ?>" /></li>
                <?php endif;?>
                <?php if(in_array("Turtle Safe",$fixture_labeling)):?>
                    <li><img alt="<?php echo $this->__('Turtle Safe') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/turtle_safe.png'); ?>" /></li>
                <?php endif;?>
                <?php if(in_array("Vandal Resistant",$fixture_labeling)):?>
                    <li><img alt="<?php echo $this->__('Vandal Resistant') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/vandal_resistant.png'); ?>" /></li>
                <?php endif;?>
                <?php if(in_array("Title 24",$fixture_labeling)):?>
                    <li><img alt="<?php echo $this->__('Title 24') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/title_24.png'); ?>" /></li>
                <?php endif;?>
                <?php if(in_array("Warn Dimming",$fixture_labeling)):?>
                    <li><img alt="<?php echo $this->__('Warn Dimming') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/warm_dimming.png'); ?>" /></li>
                <?php endif;?>
            <?php endif;?>
            
        </ul>
    </div>
<?php endif; ?>
<script type="text/javascript">
jQuery('.hasTooltip').each(function() { 
	jQuery(this).qtip({
		content: {
			text: jQuery(this).next('div')
		},
		position: {
			my: 'top center',  
			at: 'center center', 
			target: jQuery('.hasTooltip') 
		}
	});	
});
	
jQuery('.hasTooltip2').each(function() { 
	jQuery(this).qtip({
		content: {
			text: jQuery(this).next('div')
		},
		position: {
			my: 'top center',  
			at: 'center center', 
			target: jQuery('.hasTooltip2') 
		}
	});	
});
	
jQuery('.hasTooltip3').each(function() { 
	jQuery(this).qtip({
		content: {
			text: jQuery(this).next('div')
		},
		position: {
			my: 'top center',  
			at: 'center center', 
			target: jQuery('.hasTooltip3') 
		}
	});	
});

jQuery('.hasTooltipfeatures').each(function() { 
	jQuery(this).qtip({
		content: {
			text: jQuery(this).next('div')
		},
		position: {
			my: 'top center',  
			at: 'center center', 
			target: jQuery('.hasTooltipfeatures') 
		}
	});	
});
</script>