<?php
/**
 * The MIT License (MIT)
 *
 * Copyright (c) 2011-2014 Webcomm Pty Ltd
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */
?>
<?php $_product = $this->getProduct(); ?>
<?php
$customerRoleId = Mage::getSingleton('customer/session')->getCustomerGroupId();
$customerRole = strtolower(Mage::getSingleton('customer/group')->load($customerRoleId)->getData('customer_group_code'));

if ($customerRole == 'customer') {
    $buttonTitle = $this->__('Add To Cart');
} elseif ($customerRole == 'representative') {
    $buttonTitle = $this->__('Order Sample');
}
?>
<?php if ($_product->isSaleable() && ($customerRole == 'customer' || $customerRole == 'representative')): ?>
    <div class="add-to-cart">
        <?php if (!$_product->isGrouped()): ?>
            <div class="input-group">
                <?php if ($customerRole == 'customer') { ?>
                    <span class="input-group-addon">
                    <label for="qty"><?php echo $this->__('Qty:') ?></label>
                </span>
                    <input type="text" name="qty" id="qty" maxlength="12" value="<?php echo ($qty = $this->getProductDefaultQty() * 1) ? $qty : 1 ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Qty')) ?>" class="input-text form-control qty" />
                <?php } ?>

                <span class="input-group-btn">
                    <?php if ($customerRole == 'representative') { ?>
                        <button type="button" title="<?php echo $buttonTitle ?>" class="button btn btn-cart" onclick="productAddToCartForm.submit(this)"><span><span><?php echo $buttonTitle ?></span></span></button>
                    <?php } ?>
                    <?php echo $this->getChildHtml('', true, true) ?>
                </span>
            </div>
        <?php else: ?>
            <button type="button" title="<?php echo $buttonTitle ?>" class="button btn-cart" onclick="productAddToCartForm.submit(this)">
                <span>
                    <span><?php echo $buttonTitle ?></span>
                </span>
            </button>
            <?php echo $this->getChildHtml('', true, true) ?>
        <?php endif; ?>
    </div>
<?php endif; ?>
