<?php
$cards = $this->getCustomerOrdersByGiftcard();
$cardData = $this->getGiftcardData();
?>
<div class="page-title">
    <h1><?php echo $this->__('Giftard Usage') ?></h1>
</div>
<?php echo $this->getPagerHtml(); ?>
<?php if (count($cards) > 0): ?>
    <table class="data-table" id="my-report-table">
        <col width="1" />
        <col width="1" />
        <col width="1" />
        <col width="1" />
        <col width="1" />
        <col width="1" />
        <thead>
            <tr>
                <th><?php echo $this->__('GiftCard Id') ?></th>
                <th><?php echo $this->__('GiftCard Name') ?></th>
                <th><?php echo $this->__('Order Id') ?></th>
                <th><?php echo $this->__('Amount') ?></th>
                <th><?php echo $this->__('Created At') ?></th>
                <th><?php echo $this->__('View / Print') ?></th>

            </tr>
        </thead>
        <tbody>
            <?php foreach ($cards->getData() as $pay_detail) : ?>
                <tr>
                    <td><?php echo $pay_detail['giftcard_id'] ?></td>
                    <td><span class="nobr"><?php echo $cardData->getNumber() ;?></span></td>
                    <td><?php echo $pay_detail['order_id'] ?></td>
                    <td><?php echo Mage::helper('core')->currency($pay_detail['amount'], true, false);  ?></td>
                    <td><em><?php echo $pay_detail['created_at'] ?></em></td>
                    <td><a href="<?php echo Mage::getBaseUrl();?>/giftcards/index/print/gid/<?php echo $cardData->getNumber() ;?>/balance/<?php echo $pay_detail['amount'] ?>" class="link-print" onclick="this.target='_blank';"><?php echo $this->__('Print Giftcard') ?></a></td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <script type="text/javascript">decorateTable('my-report-table');</script>
    <?php echo $this->getPagerHtml(); ?>
<?php else : ?>
    <p><?php echo $this->__('You have not used any Gift Card.'); ?></p>
<?php endif ?>


