<?php
/**
 * Created by PhpStorm.
 * User: Plotnik
 * Date: 24.05.2017
 * Time: 18:01
 */
$_productCollection = $this->getData('products');
?>

<?php foreach ($_productCollection as $product):
    $model = $product['model'];
    $options = $model->getProductOptionsCollection()->getItems();

    $optionsBlock = '';
    if(!empty($options)){
        foreach ($options as $option) {
            $model->addOption($option);
        }

        $optionsBlock = Mage::app()->getLayout()->createBlock('catalog/product_view_options', 'product.info.options' . $product['id'])
            ->setTemplate('iwd/catalog/product/view/options.phtml')
            ->setProduct($model)
            ->addOptionRenderer('select','catalog/product_view_options_type_select','iwd/catalog/product/view/options/type/select.phtml')
//        ->addOptionRenderer('date','catalog/product_view_options_type_date','catalog/product/view/options/type/date.phtml')
//        ->addOptionRenderer('text','catalog/product_view_options_type_text','catalog/product/view/options/type/text.phtml')
//        ->addOptionRenderer('file','catalog/product_view_options_type_file','catalog/product/view/options/type/file.phtml')
            ->toHtml();
    }

    ?>
    <div class="product-view product-sheet-item">
        <h1><a href="<?php echo $product['url']; ?>"><?php echo $product['name']?></a></h1>
        <div class="product-image">
            <img src="<?php echo $product['image']?>">
        </div>
        <div class="product-shop">
            <div class="short-description short-description2 clearfix">
                <?php if(!empty($product['product_description'])): ?>
                    <h2>Description</h2>
                    <div class="std">
                        <?php echo $product['product_description']?>
                    </div>
                <?php endif; ?>
            </div>
            <div class="short-description clearfix">
                <?php if(!empty($product['product_benefits'])): ?>
                    <h2>Benefits</h2>
                    <div class="std">
                        <?php echo $product['product_benefits']?>
                    </div>
                <?php endif; ?>
            </div>
        </div>
        <div class="order-config-sec">
            <?php if(!empty($optionsBlock)): ?>
                <h2>Order Configurator</h2>
                <div class="order-configure-details">
                    <div class="product-options">
                        <?php echo $optionsBlock?>
                    </div>
                </div>
            <?php endif; ?>
        </div>
    </div>
<?php endforeach; ?>
