<?php
/**
 * @var $this Mage_Catalog_Block_Product_List
 */
?>
<div class="price-sheet-container">
    <div class="price-sheet-products">
        <?php echo $this->renderProductSheet(); ?>
    </div>
</div>
