<?php $addtocartlink=Mage::app()->getStore()->getConfig('lboxdetail_section/lboxdetail_general/addtocart');?>
<?php if($addtocartlink==1){?>
<?php $_product = $this->getProduct(); ?>
<?php $buttonTitle = $this->__('Add to Cart'); ?>
<?php if($_product->isSaleable()): ?>
<div class="add-to-box">
    <div class="add-to-cart">
        <?php if(!$_product->isGrouped()): ?>
        <label for="qty"><?php echo $this->__('Quantity:') ?></label>
	<input type="button" onclick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 0 ) result.value--;return false;" class="reduced items">
                <input type="text" name="qty" id="qty" maxlength="12" value="1" title="Qty" class="input-text qty">
                <input type="button" onclick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty )) result.value++;return false;" class="increase items">

        <?php endif; ?>
        <button class="button btn-cart" title="Add to Cart" type="button" onclick="productAddToCartForm.submit(this)"><i class="icon-basket"><img align="bottom" src="<?php echo $this->getSkinUrl('images/magikview/cart_icon_d.png');?>"></i><span> <?php echo $buttonTitle ?></span></button>
        <?php echo $this->getChildHtml('', true, true) ?>
    </div>
</div>
<?php endif; ?>
<?php } ?>