<?php
    $_helper = $this->helper('catalog/output');
    $_product = $this->getProduct();
    $_compareUrl=$this->helper('catalog/product_compare')->getAddUrl($_product);
    $_coreHelper = Mage::helper('core');
    $_taxHelper  = Mage::helper('tax');
    $price_array = array();
    $product_ids = $_product->getTypeInstance()->getChildrenIds($_product->getId());
    $chkrsummary=Mage::app()->getStore()->getConfig('lboxdetail_section/lboxdetail_general/showratingsummary');
    $showshortdesp=Mage::app()->getStore()->getConfig('lboxdetail_section/lboxdetail_general/showshortdesp');
    $showfulldesp=Mage::app()->getStore()->getConfig('lboxdetail_section/lboxdetail_general/showfulldesp');
    $showattr=Mage::app()->getStore()->getConfig('lboxdetail_section/lboxdetail_general/showattr');
    $chkmoreinfotab=Mage::app()->getStore()->getConfig('lboxdetail_section/lboxdetail_general/showmoreinfotab');
    $chkreviewtab=Mage::app()->getStore()->getConfig('lboxdetail_section/lboxdetail_general/showreviewtab');
    $chkstock=Mage::app()->getStore()->getConfig('lboxdetail_section/lboxdetail_general/stockavailable');
    $wishlistlink=Mage::app()->getStore()->getConfig('lboxdetail_section/lboxdetail_general/wishlistlink');
    $prevnextlink=Mage::app()->getStore()->getConfig('lboxdetail_section/lboxdetail_general/prevnext');
?>
<div class="product-quickviewinner">
	<div class="product-name"><h1><?php echo "" . $_helper->productAttribute($_product, $_product->getSKU(), 'sku') . " : " . $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1></div>
    
        <div class="clearfix">
    <div class="product-img-box">
    	<?php echo $this->getChildHtml('media'); ?>
        
        <?php echo $this->getChildHtml('features'); ?>
    </div>
    <div class="product-shop">
    	<div class="top-icon clearfix">
        	<h2><?php echo $this->__("Description")?></h2>
        	<ul>
            	<?php if ($this->canEmailToFriend()): ?>
                	<li class="email-icon"><a href="<?php echo $this->helper('catalog/product')->getEmailToFriendUrl($_product) ?>"><?php echo $this->__('Email to a Friend') ?></a></li>
                <?php endif; ?>
                	<li class="bookmar-icon"><a href="#"><?php echo $this->__('Bookmark') ?></a></li>
                </ul>
            </div>
            
              <?php if ($_product->getShortDescription()):?>
                <div class="short-description clearfix">
                    <div class="std"><?php echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?></div>
                </div>
            <?php endif;?>
            
            
              <?php if ($_product->getProductBenefits()): ?>
                <div class="quickview-benefits">
                    <div class="cover">
                        <h2><?php echo $this->__("Benefits") ?></h2>
                        <div class="std product-benefits">
                            <?php echo $_helper->productAttribute($_product, $_product->getProductBenefits(), 'product_benefits') ?>
                        </div>
                    </div>
                </div>
            <?php endif; ?>
            
            <div class="clearfix">        
          <div class="order-config-sec">
                    <?php if ($_product->isSaleable() && $this->hasOptions()): ?>
                        <div class="order-configure-details clearfix <?php if ($_product->getTypeId() == 'bundle') { ?> bundle-product-sec <?php } ?>">
                            <?php echo $this->getChildChildHtml('container1', '', true, true) ?>
                        </div>
                    <?php endif; ?>
                </div>

        </div>
        

        <?php
        if (($_product->getData('high_res_photo') && $_product->getData('high_res_photo') != "no_selection") || $_product->getData('web_cs') || $_product->getData('instruction_sheet') || $_product->getData('instruction_sheet') || $_product->getData('photometry') || $_product->getData('lawdim2') || $_product->getData('brochure') || $_product->getData('ies_file') || $_product->getData('revit_file')) :
            ?>
            <div class="top-download-sec clearfix">
                <h2><?php echo $this->__("Downloads") ?></h2>
                <ul class="clearfix">

            <?php
            if ($_product->getData('high_res_photo') && $_product->getData('high_res_photo') != "no_selection") {
                ?>
                        <li class="download-photo"><a target="_blank" href="<?php echo $this->helper('catalog/image')->init($_product, 'high_res_photo') ?>" download><i>&nbsp;</i><?php echo $this->__("Photo") ?></a></li>
        <?php
    }
    if ($_product->getData('web_cs')) {
        ?>
                        <li class="download-specification"><a target="_blank" href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB) . $_product->getData('web_cs') ?>"><i>&nbsp;</i><?php echo $this->__("Spec<span>ification</span> Sheets") ?></a></li>
                        <?php
                    }
                    if ($_product->getData('instruction_sheet')) {
                        ?>
                        <li class="download-instruction"><a target="_blank" href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB) . $_product->getData('instruction_sheet') ?>"><i>&nbsp;</i><?php echo $this->__("Instruction Sheet") ?></a></li>
                        <?php
                    }
                    if ($_product->getData('photometry')) {
                        ?>
                        <li class="download-photometry"><a target="_blank" href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB) . $_product->getData('photometry') ?>"><i>&nbsp;</i><?php echo $this->__("Photometry") ?></a></li>
                        <?php
                    }
                    if ($_product->getData('lawdim2')) {
                        ?>
                        <li class="download-line"><a target="_blank" href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB) . $_product->getData('lawdim2') ?>"><i>&nbsp;</i><?php echo $this->__("Line Art") ?></a></li>
                        <?php
                    }
                    if ($_product->getData('brochure')) {
                        ?>
                        <li class="download-brochure"><a target="_blank" href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB) . $_product->getData('brochure') ?>"><i>&nbsp;</i><?php echo $this->__("Brochure") ?></a></li>
                        <?php
                    }
                    if ($_product->getData('ies_file')) {
                        ?>
                        <li class="download-ies"><a target="_blank" href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB) . $_product->getData('ies_file') ?>"><i>&nbsp;</i><?php echo $this->__("IES File") ?></a></li>
                        <?php
                    }
                    if ($_product->getData('revit_file')) {
                        ?>
                        <li class="download-revit"><a target="_blank" href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB) . $_product->getData('revit_file') ?>"><i>&nbsp;</i><?php echo $this->__("REVIT File") ?></a></li>
                    <?php } ?>
                </ul>
            </div>
                <?php endif; ?>

        
              
	
	
	<?php if($prevnextlink==1): ?>
	<?php // Previous and Next product links in product page
	      $_product = $this->getProduct();
	      if(!$_product->getCategoryIds())
		  return; // Don't show Previous and Next if product is not in any category
     
	      $cat_ids = $_product->getCategoryIds(); // get all categories where the product is located
	      $cat = Mage::getModel('catalog/category')->load( $cat_ids[0] ); // load first category, you should enhance this, it works for me
	      $order = Mage::getStoreConfig('catalog/frontend/default_sort_by');
	      $direction = 'asc'; // asc or desc
	      $category_products = $cat->getProductCollection()->addAttributeToSort($order, $direction);
	      $category_products->addAttributeToFilter('status',1); // 1 or 2
	      $category_products->addAttributeToFilter('visibility',4); // 1.2.3.4
	      $cat_prod_ids = $category_products->getAllIds(); // get all products from the category
	      $_product_id = $_product->getId();
	      $_pos = array_search($_product_id, $cat_prod_ids); // get position of current product
	      $_next_pos = $_pos+1;
	      $_prev_pos = $_pos-1;
     
	      // get the next product url
	      if( isset($cat_prod_ids[$_next_pos]) ) {
	      $_next_prod = Mage::getModel('catalog/product')->load( $cat_prod_ids[$_next_pos] );
	      } else {
	      $_next_prod = Mage::getModel('catalog/product')->load( reset($cat_prod_ids) );
	      }
	      // get the previous product url
	      if( isset($cat_prod_ids[$_prev_pos]) ) {
	      $_prev_prod = Mage::getModel('catalog/product')->load( $cat_prod_ids[$_prev_pos] );
	      } else {
	      $_prev_prod = Mage::getModel('catalog/product')->load( end($cat_prod_ids) );
	      }

    ?><div id="mcquickview-prevnext">
	    <div class="product-next-prev">
		<?php if($_next_prod != NULL): ?>
			  <a href="#" id="mgknext" class="mgkviewlightbox" data-url="<?php echo Mage::getBaseUrl(), 'lightboxdetail/ajax_index/view/id/', $_next_prod->getId() ?>/"></a>
		<?php endif; ?>  
		<?php if($_prev_prod != NULL): ?>
		      <a href="#" id="mgkprev" class="mgkviewlightbox" data-url="<?php echo Mage::getBaseUrl(), 'lightboxdetail/ajax_index/view/id/', $_prev_prod->getId() ?>/"></a>
		<?php endif; ?>    
	    </div>
</div>
      <?php endif; ?>  <!-- Endif Next Previous Product -->
      <div class="clearfix view-details-btn">
            	<a href="<?php echo $_product->getProductUrl();?>"><?php echo $this->__("View Details")?></a>  
            </div>
  </div>
        </div>
</div>

<script type="text/javascript">
    var productAddToCartForm = new VarienForm('order-form');
    productAddToCartForm.submit = function(button, url) {
        if (this.validator.validate()) {
            var form = this.form;
            var oldUrl = form.action;
 
            if (url) {
               form.action = url;
            }
 
            var e = null;
            this.form.action = oldUrl;
	    form.submit();
 
            if (e) {
                throw e;
            }
 
            if (button && button != 'undefined') {
                button.disabled = true;
            }
 
	    return false;
        }
    }.bind(productAddToCartForm);
</script> 
<script type="text/javascript">
  jQuery(document).ready(function() {
    jQuery(".tabLink").each(function(){
      jQuery(this).click(function(){
	tabeId = jQuery(this).attr('id');
        jQuery(".tabLink").removeClass("activeLink");
        jQuery(this).addClass("activeLink");
        jQuery(".tabcontent").addClass("hide");
        jQuery("#"+tabeId+"-1").removeClass("hide")   
        return false;	  
      });
    });  
  });
</script>
<?php echo $this->getLayout()->createBlock("core/template")->setTemplate("lightboxdetail/productlightbox.phtml")->toHtml(); ?>