<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Blog
 * @version    1.3.14
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php if ($posts = $this->getRecent()): ?>
    <div class="widget-latest">
        <h2><?php echo Mage::helper('blog')->__('Recent Posts'); ?> <a href="<?php echo $this->getUrl('blog') ?>"><?php echo $this->__('View All') ?></a></h2>
        <ul class="recent-post-slider">
            <?php foreach ($posts as $post): ?>
                <li>
                	<h2 class="post-title"><a href="<?php echo $post->getAddress(); ?>" ><?php echo $post->getTitle(); ?></a></h2>
                    <p class="recent-post-date"><?php $_ct= new Zend_Date($post->getCreatedTime()); echo $_ct->toString('MMMM dd yyyy'); ?></p>
                     <div class="postContent std"><?php echo $post->getShortContent(); ?></div>
                     <p class="readmore"><a href="<?php echo $post->getAddress(); ?>" ><?php echo $this->__('Read More') ?></a></p>
                </li>
            <?php endforeach; ?>
        </ul>
    </div>
<?php endif; ?>