<?php
$months = $this->getMonthsValues();

$availablePositions = Mage::helper('cminds_positions')->getAllSubordinates();

$filteredPositionTypes = Mage::helper('cminds_positions')
    ->getPositionTypes()
    ->addFieldToFilter('id', array('in' => $availablePositions));
?>
<div>
    <div class="entry-edit">
        <form id="filter_form_salesrep"
              action=""
              method="post">
            <div class="entry-edit-head">
                <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Filter'); ?></h4>
                <div class="form-buttons">
                    <button id="show_filtered_data_salesrep"
                            title="Filter Orders" type="button" class="scalable "
                            onclick="filterFormSalesrepData()" style="">
                        <span>
                            <span>
                                <span><?php echo $this->__('Filter Orders');?></span>
                            </span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="fieldset " id="salesrep_report_base_fieldset">
                <div class="hor-scroll">
                    <table cellspacing="0" class="form-list">
                        <tbody>
                        <tr>
                            <?php if (!empty($availablePositions)): ?>
                                <td class="value">
                                    <label
                                        for="salesrep_report_order_grid"><?php echo $this->__('Select office'); ?></label>
                                    <select name="salesrep_report_order_grid"
                                            id="salesrep_report_order_grid">
                                        <?php foreach ($filteredPositionTypes AS $positionType): ?>
                                            <optgroup
                                                label="<?php echo $positionType->getName(); ?>">
                                                <?php foreach (Mage::helper('cminds_positions')->getPosition($positionType->getId()) as $position):; ?>
                                                    <option
                                                        value="<?php echo $position->getId(); ?>"<?php echo $this->getCurrentPosition() == $position->getId() ? ' selected' : ''; ?>> <?php echo $position->getName(); ?></option>
                                                <?php endforeach; ?>
                                            </optgroup>
                                        <?php endforeach; ?>
                                    </select>
                                </td>
                            <?php endif; ?>
                            <td class="value">
                                <label
                                    for="salesrep_report_from"><?php echo $this->__('Select period'); ?>
                                    <span class="required">*</span></label>
                                <select id="salesrep_report_from" name="from"
                                        title="Select Period"
                                        class=" required-entry select">
                                    <?php foreach ($months as $month): ?>
                                        <option
                                            value="<?php echo $month['value']; ?>"><?php echo $month['label']; ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>
<script>

    function filterFormSalesrepData(){
        if($$('#filter_form_salesrep #salesrep_report_base_fieldset #salesrep_report_order_grid')[0]){
            var positionId = $$('#filter_form_salesrep #salesrep_report_base_fieldset #salesrep_report_order_grid')[0].value;
        } else {
            var positionId = null;
        }
        var period = $$('#filter_form_salesrep #salesrep_report_base_fieldset #salesrep_report_from')[0].value;
        new Ajax.Request('/admin/sales_order_filter/filterSalesOrderGrid', {
            parameters: {
                positionId: positionId,
                period: period
            },
            onSuccess: function(response) {
                var res = JSON.parse(response.responseText);
                if(res.success){
                    $$('#sales_order_grid table tbody tr .filter-actions button')[1].click();
                }
            }
        });
    }

</script>
