<?php

/** @var Algolia_Algoliasearch_Helper_Config $config */
$config = Mage::helper('algoliasearch/config');

/** @var Mage_Customer_Model_Session $session */
$session = Mage::getSingleton('customer/session');
$group_id = $session->getCustomerGroupId();

$currency_code = Mage::app()->getStore()->getCurrentCurrencyCode();
$price_key = $config->isCustomerGroupsEnabled(Mage::app()->getStore()->getStoreId()) ? '.'.$currency_code.'.group_'.$group_id : '.'.$currency_code.'.default';

?>

<!-- Product hit template -->
<script type="text/template" id="autocomplete_products_template">
    <a class="algoliasearch-autocomplete-hit" href="{{url}}">
        {{#thumbnail_url}}
            <div class="thumb"><img src="{{thumbnail_url}}" /></div>
        {{/thumbnail_url}}

        <div class="info">
            {{{_highlightResult.sku.value}}}
            <br/>
            {{{_highlightResult.name.value}}}

            <div class="algoliasearch-autocomplete-category">
                {{#categories_without_path}}
                    <?php echo $this->__('in'); ?>
                    {{{categories_without_path}}}
                {{/categories_without_path}}

                {{#_highlightResult.color}}
                    {{#_highlightResult.color.value}}
                        <span>
                           {{#categories_without_path}} | {{/categories_without_path}} Color:  {{{_highlightResult.color.value}}}
                        </span>
                    {{/_highlightResult.color.value}}
                {{/_highlightResult.color}}
            </div>

            <div class="algoliasearch-autocomplete-price">
                <span class="after_special {{#price<?php echo $price_key; ?>_original_formated}}promotion{{/price<?php echo $price_key; ?>_original_formated}}">
                    {{price<?php echo $price_key; ?>_formated}}
                </span>

                {{#price<?php echo $price_key; ?>_original_formated}}
                    <span class="before_special">
                        {{price<?php echo $price_key; ?>_original_formated}}
                    </span>
                {{/price<?php echo $price_key; ?>_original_formated}}
            </div>
        </div>
    </a>
    <script>
        jQuery(".algoliasearch-autocomplete-hit .info").each(function(){
                var minHeight = 1;
                if(jQuery(this).height() > minHeight){
                    minHeight = jQuery(this).height();
                    jQuery(".algoliasearch-autocomplete-hit .info").css({'min-height':minHeight});
                }
        })
    </script>
</script>