<?php

?>

<script>

    function checkBal() {

        var params = {};
        $('bal-loader').show();
        $('bal-error').hide();
        $('balance-text').hide();
        params['cardnum'] = $('bal-num').value;
        new Ajax.Request('<?php echo Mage::getBaseUrl('web') . 'giftcards/index/checkbalance' ?>', {
            method: 'get',
            parameters: params,
            onSuccess: function(transport) {
                if (transport.responseText == '<p>Your card number is not valid</p>') {
                    $('bal-error').innerHTML = transport.responseText;
                    $('bal-error').show();
                } else {
                    $('bal-bal').innerHTML = transport.responseText;
                    $('balance-text').show();
                }
                $('bal-loader').hide();
            }
        });

    }

</script>

<span class="label">Check Your Balance</span>
<label class="first grey" id="bal-num-lbl">Gift Card Number </label><br/><br/>
<input class="full grey" id="bal-num" name="bal-num" type="text">
<button type="button" title="balance" class="button blue grey" onclick="checkBal();
        return false;" id="bal-btn"><span><span>Check Balance</span></span></button><img src="<?php echo $this->getSkinUrl('images/reload.png') ?>" class="loader-btn" id="bal-loader" style="display:none;" />
<div id="balance-text" style="display:none;">
    <p class="balance">Your Balance is:</p>
    <p class="amount" id="bal-bal"></p>
</div>
<div id="bal-error" style="display:none;">
</div>
