<?php

?>
<style>
    .gift-card											{margin:0 0 100px 0; padding:0; width:100%;}
    .gift-card p										{width:66%;}
    .gift-card .container								{margin:20px 0 0 0; padding:0; width:100%; overflow:hidden;}
    .gift-card .container .section						{margin:0; padding:0; float:left; width:28%; height:auto; border-right:1px solid #cccccc;}
    .gift-card .container .section.right-side 			{padding-left:25px; border:none;}
    .gift-card .container .section.middle	 			{padding:0 25px;}
    .gift-card .container .section.left-side 			{padding-right:25px;}
    .gift-card .container .section .label				{margin:0 0 0 5px; padding:0; color:#0a263c; font-size:13px; font-weight:bold;}
    .gift-card .container .section .small-label			{margin:0 0 0 5px; padding:0; color:#2f2f2f; font-size:12px;}
    .gift-card .container .section .small-label.grey	{color:#acabab;}
    .gift-card .container .section label				{margin:0 0 3px 0; padding:0; color:#666666; font-size:12px; font-weight:bold; display:block;}
    .gift-card .container .section label.grey			{color:#acabab;}
    .gift-card .container .section label.grey .req-ast	{color:#acabab;}
    .gift-card .container .section label.first			{margin:20px 0 0;}
    .gift-card .container .section .req-ast				{color:#eb340a;}
    .gift-card .container .section input.full		a	{width:100%;}
    .gift-card .container .section input.half 			{width:50%;}
    .gift-card .container .section input.grey			{background-color:#d4d2d2; border:1px solid #d4d2d2; height:19px;}
    .gift-card .container .section select.half 			{width:55%;}
    .gift-card .container .section select.grey			{background-color:#d4d2d2; border:1px solid #d4d2d2; color:#acabab; height:18px;}
    .gift-card .container .section .button				{margin-top:20px;}
    .gift-card .container .section .button.blue	span	{background-color:#618499; border-color:#406A83;}
    .gift-card .container .section .button.grey	span	{background-color:#d4d2d2; border-color:#d4d2d2;}
    .gift-card .container .section .box-one				{margin:5px 0 8px 0; padding:0;}
    .gift-card .container .section p.balance			{margin:20px 0 0 0; font-size:12px; font-weight:bold; color:#666666;}
    .gift-card .container .section p.amount				{margin:0px 0 0 0; font-size:16px; font-weight:bold; color:#666666;}
    .gift-card .container .section .loader-btn			{margin: 20px 0px 0px 10px;}
    .giftcard-email-validate							{background-color: #FBEBD9;}
    #add-checking										{float:left; width:100%; padding-top:10px; color: #E26703;}
</style>
<script language="javascript" type="text/javascript">
    function limitText(limitField, limitCount, limitNum) {
        if (limitField.value.length > limitNum) {
            limitField.value = limitField.value.substring(0, limitNum);
        } else {
            limitCount.value = limitNum - limitField.value.length;
        }
    }
</script>

<div class="gift-card">
    <h1>Gift Cards</h1>
    <p>Give someone something they really want! The freedom to choose. Here, you can buy either a physical gift card to send to a friend or email a gift card to a friend. You can also add money to an existing gift card or simply check the balance of your gift card.</p>
    <div class="container">
        <form id="cardForm" name="cardForm">
            <div class="section left-side">
                <input name="giftcard" onclick="changeType();" value="1" checked="checked" type="radio"> <span class="label">Buy a Gift Card</span>
                <label class="first" id="buy-type-lbl">Select Gift Card Type <span class="req-ast">*</span></label>
                <div class="box-one">
                    <?php if (Mage::getStoreConfig('sales/giftcard/ship_card_enable')): ?>
                        <div class="box-one">
                            <input name="cardtype" value="ship" onclick="shipType();" type="radio"> <span class="small-label" id="buy-lbl1">Physical Gift Card</span>
                        </div>
                    <?php endif ?>
                    <?php if (Mage::getStoreConfig('sales/giftcard/virtual_card_enable')): ?>
                        <div class="box-one">
                            <input name="cardtype" value="print" onclick="shipType();" type="radio"> <span class="small-label" id="buy-lbl2">Email Gift Card</span>
                        </div>
                    <?php endif ?>
                </div>
                     <?php if (Mage::getStoreConfig('sales/giftcard/virtual_card_enable')): ?>
                <div class="box-one">
                    Delivery date of Giftcard    <input type="text" name="delivery_date" id="delivery_date" value="" /> 
                    <img title="Select date" id="delv_trig" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . 'adminhtml/default/default/images/grid-cal.gif'; ?>" class="v-middle">
                    <script type="text/javascript">// <![CDATA[
                        Calendar.setup({
                            inputField: 'delivery_date',
                            ifFormat: '%m/%d/%y',
                            button: 'delv_trig',
                            align: 'Bl',
                            singleClick: true
                        });

                    // ]]></script>
                </div>
                 <?php endif ?>

                <?php if (Mage::getStoreConfig('sales/giftcard/virtual_card_enable')): ?>
                    <div class="box-one">
                        <label class="" id="buy-email-lbl">Recipient Email Address <span class="req-ast">*</span></label>
                        <input class="full" id="buy-email" name="remail" type="text">
                    </div>
                    <div class="box-one">
                        <label class="" id="buy-msg-lbl">Gift Message <span class="req-ast">*</span></label>
                        <textarea name="rmsg" id="buy-msg" class="full" onKeyDown="limitText(this.form.rmsg, this.form.countdown,<?php echo Mage::getStoreConfig('sales/giftcard/msg_length'); ?>);" 
                                  onKeyUp="limitText(this.form.rmsg, this.form.countdown,<?php echo Mage::getStoreConfig('sales/giftcard/msg_length'); ?>);" style="resize: none;"></textarea>
                        <font size="1">(Maximum characters: <?php echo Mage::getStoreConfig('sales/giftcard/msg_length'); ?>)<br>
                        You have <input readonly type="text" name="countdown" size="3" value="<?php echo Mage::getStoreConfig('sales/giftcard/msg_length'); ?>"> characters left.</font>
                    </div>
                <?php endif ?>
                <div class="box-one">
                    <label class="" id="buy-amt-lbl">Select Amount <span class="req-ast">*</span></label>
                    <select class="half" id="buy-amt" name="cars">
                        <?php foreach ($this->getCardAmounts() as $amount): ?>
                            <option value="<?php echo $amount ?>"><?php echo Mage::helper('core')->currency($amount, true, false); ?></option>
                        <?php endforeach ?>
                    </select>
                </div>
                <button type="button" title="Add to Cart" class="button btn-cart" id="buy-btn" onclick="buyCard();"><span><span>Add to Cart</span></span></button><img src="<?php echo $this->getSkinUrl('images/reload.png') ?>" class="loader-btn" id="buy-loader" style="display:none;" />
            </div>
            <?php if (Mage::getStoreConfig('sales/giftcard/add_card_enable')): ?>
                <div class="section middle">
                    <input name="giftcard" onclick="changeType();" value="2" type="radio"> <span class="label">Add to a Gift Card</span>
                    <label class="first grey" id="add-num-lbl">Gift Card Number <span class="req-ast">*</span></label>
                    <input class="full grey" id="add-num" name="lastname" type="text">
                    <div class="box-one">
                        <label class="grey" id="add-amt-lbl">Select Amount <span class="req-ast">*</span></label>
                        <select class="half grey" id="add-amt" name="cars">
                            <?php foreach ($this->getCardAmounts() as $amount): ?>
                                <option value="<?php echo $amount ?>"><?php echo Mage::helper('core')->currency($amount, true, false); ?></option>
                            <?php endforeach ?>					</select>
                    </div>
                    <span style="display:none;" id="add-checking"></span>
                    <button type="button" title="Add to Cart" id="add-btn" class="button btn-cart grey" onclick="addCard();"><span><span>Add to Cart</span></span></button><img src="<?php echo $this->getSkinUrl('images/reload.png') ?>" class="loader-btn" id="add-loader" style="display:none;" />
                </div>
            <?php endif ?>
            <div class="section right-side">
                <input name="giftcard" onclick="changeType();" value="3" type="radio"> <span class="label">Check Your Balance</span>
                <label class="first grey" id="bal-num-lbl">Gift Card Number <span class="req-ast">*</span></label>
                <input class="full grey" id="bal-num" name="bal-num" type="text">
                <button type="button" title="balance" class="button blue grey" onclick="checkBal();
        return false;" id="bal-btn"><span><span>Check Balance</span></span></button><img src="<?php echo $this->getSkinUrl('images/reload.png') ?>" class="loader-btn" id="bal-loader" style="display:none;" />
                <div id="balance-text" style="display:none;">
                    <p class="balance">Your Balance is:</p>
                    <p class="amount" id="bal-bal"></p>
                </div>
                <div id="bal-error" style="display:none;">
                </div>
            </div>
        </form>
        <form action="<?php echo Mage::getBaseUrl('web') . 'index.php/giftcards/index/buycard' ?>" method="post" name="buy-form" id="buy-form">
            <input type="hidden" value="" name="type" id="hidden-buy-type" />
            <input type="hidden" value="" name="email" id="hidden-buy-email" />
            <input type="hidden" value="" name="msg" id="hidden-buy-msg" />
            <input type="hidden" value="" name="amount" id="hidden-buy-amount" />
            <input type="hidden" value="" name="delivery_date" id="hidden-delivery-date" />
        </form>
        <form action="<?php echo Mage::getBaseUrl('web') . 'giftcards/index/addtocard' ?>" method="post" name="add-form" id="add-form">
            <input type="hidden" value="" name="cardnum" id="hidden-add-cardnum" />
            <input type="hidden" value="" name="amount" id="hidden-add-amount" />
        </form>
    </div>
</div>

<script type="text/javascript">
    var cardForm = new VarienForm('cardForm');

    function addCard()
    {
        if (radioValue('cardForm', 'giftcard') == 2) {
            $('add-loader').show();
            params = {};
            params['cardnum'] = $('add-num').value;
            new Ajax.Request('<?php echo Mage::getBaseUrl('web') . 'giftcards/index/checkcard' ?>', {
                method: 'get',
                parameters: params,
                onSuccess: function(transport) {
                    var qt = transport.responseText.replace(/(^\s+|\s+$)/g, '')
                    if (qt == 'valid') {
                       
                        $('hidden-add-cardnum').value = $('add-num').value;
                        $('hidden-add-amount').value = $('add-amt').value;
                        $('add-form').submit();
                    } else {
                       
                        $('add-loader').hide();
                        $('add-checking').show();
                        $('add-checking').innerHTML = 'Invalid card';
                    }
                }
            });
        }
    }

    function buyCard()
    {
        if(cardForm.validator.validate()) {
            <?php if (Mage::getStoreConfig('sales/giftcard/virtual_card_enable') && Mage::getStoreConfig('sales/giftcard/ship_card_enable')): ?>
            if (radioValue('cardForm', 'giftcard') == 1) {

                if (($('buy-email').value != '' && $('delivery_date').value != '' && $('buy-msg').value != '' && $('buy-email').value != 'Enter Email Address' && radioValue('cardForm', 'cardtype') == 'print') || (radioValue('cardForm', 'cardtype') == 'ship')) {
                    $('buy-loader').show();
                    $('hidden-buy-type').value = radioValue('cardForm', 'cardtype');
                    $('hidden-buy-email').value = $('buy-email').value;
                    $('hidden-buy-msg').value = $('buy-msg').value;
                    $('hidden-buy-amount').value = $('buy-amt').value;
                    $('hidden-delivery-date').value = $('delivery_date').value;
                    $('buy-form').submit();
                } else {
                    $('buy-email').setAttribute('class', 'giftcard-email-validate full');
                    $('buy-msg').setAttribute('class', 'giftcard-email-validate full');
                    $('delivery_date').setAttribute('class', 'giftcard-email-validate full');
                }
            }
            <?php else: ?>
            <?php if (Mage::getStoreConfig('sales/giftcard/virtual_card_enable')): ?>
            if (radioValue('cardForm', 'giftcard') == 1) {
                if ($('buy-email').value != '' && $('buy-email').value != 'Enter Email Address' && radioValue('cardForm', 'cardtype') == 'print') {
                    $('buy-loader').show();
                    $('hidden-buy-type').value = radioValue('cardForm', 'cardtype');
                    $('hidden-buy-email').value = $('buy-email').value;
                    $('hidden-buy-amount').value = $('buy-amt').value;
                    $('hidden-delivery-date').value = $('delivery_date').value;

                    $('buy-form').submit();
                } else {
                    $('buy-email').setAttribute('class', 'giftcard-email-validate full');
                }
            }
            <?php endif ?>
            <?php if (Mage::getStoreConfig('sales/giftcard/ship_card_enable')): ?>
            if (radioValue('cardForm', 'giftcard') == 1) {
                if (radioValue('cardForm', 'cardtype') == 'ship') {
                    $('buy-loader').show();
                    $('hidden-buy-type').value = radioValue('cardForm', 'cardtype');
                    $('hidden-buy-amount').value = $('buy-amt').value;
                    $('hidden-delivery-date').value = $('delivery_date').value;
                    $('buy-form').submit();
                } else {
                    $('buy-email').setAttribute('class', 'giftcard-email-validate full');
                }
            }
            <?php endif ?>
            <?php endif ?>
        }
    }

    function shipType()
    {
<?php if (Mage::getStoreConfig('sales/giftcard/virtual_card_enable')): ?>
            if (radioValue('cardForm', 'cardtype') == 'print') {
                $('buy-email-lbl').setAttribute('class', 'validate-email');
                $('buy-email').setAttribute('class', 'full validate-email');
                $('buy-msg-lbl').setAttribute('class', '');
                $('buy-msg').setAttribute('class', 'full');
                $('delivery_date').setAttribute('class', 'validate-date');
            } else {
                $('buy-email-lbl').setAttribute('class', 'grey');
                $('buy-email').setAttribute('class', 'full grey');
                $('buy-msg-lbl').setAttribute('class', 'full grey');
                $('delivery_date').setAttribute('class', 'full grey');
                $('buy-msg').setAttribute('class', 'full grey');
            }
<?php endif ?>
    }

    function changeShip()
    {
<?php if (Mage::getStoreConfig('sales/giftcard/virtual_card_enable')): ?>
            var val = radioValue('cardForm', 'cardtype');
            if (val == 'ship') {
                $('buy-email').setAttribute('class', 'grey');
            } else {
                $('buy-email').setAttribute('class', '');
            }
<?php endif ?>
    }

    function changeType()
    {
        var val = radioValue('cardForm', 'giftcard');
        if (val == 1) {
            //buy form
            $('buy-type-lbl').setAttribute('class', 'first');
<?php if (Mage::getStoreConfig('sales/giftcard/virtual_card_enable')): ?>
                $('buy-email-lbl').setAttribute('class', '');
                $('buy-email').setAttribute('class', 'full');
                $('buy-msg-lbl').setAttribute('class', '');
                $('buy-msg').setAttribute('class', 'full');
<?php endif ?>
            $('buy-amt-lbl').setAttribute('class', '');
            $('buy-amt').setAttribute('class', 'half');
            $('buy-btn').setAttribute('class', 'button btn-cart');
<?php if (Mage::getStoreConfig('sales/giftcard/ship_card_enable')): ?>
                $('buy-lbl1').setAttribute('class', 'small-label');
<?php endif ?>
<?php if (Mage::getStoreConfig('sales/giftcard/virtual_card_enable')): ?>
                $('buy-lbl2').setAttribute('class', 'small-label');
<?php endif ?>

<?php if (Mage::getStoreConfig('sales/giftcard/add_card_enable')): ?>
                //add form
                $('add-num-lbl').setAttribute('class', 'first grey');
                $('add-num').setAttribute('class', 'full grey');
                $('add-btn').setAttribute('class', 'button btn-cart grey');
                $('add-amt-lbl').setAttribute('class', 'grey');
                $('add-amt').setAttribute('class', 'half grey');
<?php endif ?>

            //balance form
            $('bal-num-lbl').setAttribute('class', 'first grey');
            $('bal-num').setAttribute('class', 'full grey');
            $('bal-btn').setAttribute('class', 'button blue grey');

            $('bal-error').hide();
            $('balance-text').hide();
        }
        if (val == 2) {
            //buy form
            $('buy-type-lbl').setAttribute('class', 'first grey');
<?php if (Mage::getStoreConfig('sales/giftcard/virtual_card_enable')): ?>
                $('buy-email-lbl').setAttribute('class', 'grey');
                $('buy-email').setAttribute('class', 'full grey');
                $('buy-msg-lbl').setAttribute('class', 'grey');
                $('buy-msg').setAttribute('class', 'full grey');
<?php endif ?>
            $('buy-amt-lbl').setAttribute('class', 'grey');
            $('buy-amt').setAttribute('class', 'half grey');
            $('buy-btn').setAttribute('class', 'button btn-cart grey');
<?php if (Mage::getStoreConfig('sales/giftcard/ship_card_enable')): ?>
                $('buy-lbl1').setAttribute('class', 'small-label grey');
<?php endif ?>
<?php if (Mage::getStoreConfig('sales/giftcard/virtual_card_enable')): ?>
                $('buy-lbl2').setAttribute('class', 'small-label grey');
<?php endif ?>

<?php if (Mage::getStoreConfig('sales/giftcard/add_card_enable')): ?>
                //add form
                $('add-num-lbl').setAttribute('class', 'first');
                $('add-num').setAttribute('class', 'full');
                $('add-btn').setAttribute('class', 'button btn-cart');
                $('add-amt-lbl').setAttribute('class', '');
                $('add-amt').setAttribute('class', 'half');
<?php endif ?>

            //balance form
            $('bal-num-lbl').setAttribute('class', 'first grey');
            $('bal-num').setAttribute('class', 'full grey');
            $('bal-btn').setAttribute('class', 'button blue grey');

            $('bal-error').hide();
            $('balance-text').hide();
        }
        if (val == 3) {
            //buy form
            $('buy-type-lbl').setAttribute('class', 'first grey');
<?php if (Mage::getStoreConfig('sales/giftcard/virtual_card_enable')): ?>
                $('buy-email-lbl').setAttribute('class', 'grey');
                $('buy-email').setAttribute('class', 'full grey');
                $('buy-msg-lbl').setAttribute('class', 'grey');
                $('buy-msg').setAttribute('class', 'full grey');
<?php endif ?>
            $('buy-amt-lbl').setAttribute('class', 'grey');
            $('buy-amt').setAttribute('class', 'half grey');
            $('buy-btn').setAttribute('class', 'button btn-cart grey');
<?php if (Mage::getStoreConfig('sales/giftcard/ship_card_enable')): ?>
                $('buy-lbl1').setAttribute('class', 'small-label grey');
<?php endif ?>
<?php if (Mage::getStoreConfig('sales/giftcard/virtual_card_enable')): ?>
                $('buy-lbl2').setAttribute('class', 'small-label grey');
<?php endif ?>

<?php if (Mage::getStoreConfig('sales/giftcard/add_card_enable')): ?>
                //add form
                $('add-num-lbl').setAttribute('class', 'first grey');
                $('add-num').setAttribute('class', 'full grey');
                $('add-btn').setAttribute('class', 'button btn-cart grey');
                $('add-amt-lbl').setAttribute('class', 'grey');
                $('add-amt').setAttribute('class', 'half grey');
<?php endif ?>

            //balance form
            $('bal-num-lbl').setAttribute('class', 'first');
            $('bal-num').setAttribute('class', 'full');
            $('bal-btn').setAttribute('class', 'button blue');
        }
    }

    function checkBal()
    {
        if (radioValue('cardForm', 'giftcard') == 3) {
            var params = {};
            $('bal-loader').show();
            $('bal-error').hide();
            $('balance-text').hide();
            params['cardnum'] = $('bal-num').value;
            new Ajax.Request('<?php echo Mage::getBaseUrl('web') . 'giftcards/index/checkbalance' ?>', {
                method: 'get',
                parameters: params,
                onSuccess: function(transport) {
                    if (transport.responseText == '<p>Your card number is not valid</p>') {
                        $('bal-error').innerHTML = transport.responseText;
                        $('bal-error').show();
                    } else {
                        $('bal-bal').innerHTML = transport.responseText;
                        $('balance-text').show();
                    }
                    $('bal-loader').hide();
                }
            });
        }
    }

    function radioValue(el, radioGroup) {
        if ($(el).type && $(el).type.toLowerCase() == 'radio') {
            var radioGroup = $(el).name;
            var el = $(el).form;
        } else if ($(el).tagName.toLowerCase() != 'form') {
            return false;
        }

        var checked = $(el).getInputs('radio', radioGroup).find(
                function(re) {
                    return re.checked;
                }
        );
        return (checked) ? $F(checked) : null;
    }
</script>

