<?php

?>

<script>

    function checkBal() {

        var params = {};
        $('bal-loader').show();
        $('bal-error').hide();
        $('balance-text').hide();
        params['cardnum'] = $('bal-num').value;
        new Ajax.Request('<?php echo Mage::getBaseUrl('web') . 'giftcards/index/checkorders' ?>', {
            method: 'get',
            parameters: params,
            onSuccess: function (transport) {
                var response = JSON.parse(transport.responseText);
                if(response.success){
                    $('bal-bal').innerHTML = response.balance;
                    $('orders-list-container').innerHTML = response.block;
                    $('balance-text').show();
                } else {
                    $('bal-error').innerHTML = '<p>Your card number is not valid</p>';
                    $('orders-list-container').innerHTML = '';
                    $('bal-error').show();
                }
                $('bal-loader').hide();
            }
        });

    }

</script>

<span class="label">Check Your Balance</span>
<label class="first grey" id="bal-num-lbl">Gift Card Number </label><br/><br/>
<input class="full grey" id="bal-num" name="bal-num" type="text">
<button type="button" title="balance" class="button blue grey" onclick="checkBal();
        return false;" id="bal-btn"><span><span>Check Balance</span></span>
</button><img src="<?php echo $this->getSkinUrl('images/reload.png') ?>"
              class="loader-btn" id="bal-loader" style="display:none;"/>
<div id="balance-text" style="display:none;">
    <p class="balance">Current Credit Balance is:</p>
    <p class="amount" id="bal-bal"></p>
</div>
<div id="bal-error" style="display:none;">
</div>
<div id="orders-list-container">

</div>
