<?php

?>
<?php
$gid =  Mage::app()->getRequest()->getParam('gid');
$bal =  Mage::app()->getRequest()->getParam('balance');


?>
<h1><?php echo $this->__('GiftCard No# ') ?><?php echo $gid;?></h1>
<?php echo $this->__('Balance Left: ') ?><?php echo Mage::helper('core')->currency($bal, true, false);?>
<script type="text/javascript">window.print();</script>



