<?php

?>

<?php
$cust_id = Mage::getSingleton('customer/session')->getId();

$orderCollection = Mage::getModel('sales/order')->getCollection()
        ->addFieldToFilter('customer_id', array('eq' => array($cust_id)));
$order_data = $orderCollection->getdata();

foreach ($order_data AS $order_row) {

    $or[] = $order_row['entity_id'];
}
$cards = Mage::getModel('giftcard/payment')->getCollection()
        ->addFieldToFilter('main_table.order_id', $or);
$cards->getSelect()
        ->join(array('gc' => (string) Mage::getConfig()->getTablePrefix() . 'giftcard_entity'), 'main_table.giftcard_id = gc.giftcard_id', array('number'));
?>
<div class="page-title">
    <h1><?php echo $this->__('My Giftard Usage') ?></h1>
</div>
<?php echo $this->getPagerHtml(); ?>
<?php if (count($or) > 0): ?>
    <table class="data-table" id="my-report-table">
        <col width="1" />
        <col width="1" />
        <col width="1" />
        <col width="1" />
        <col width="1" />
        <col width="1" />
        <thead>
            <tr>
                <th><?php echo $this->__('GiftCard Id') ?></th>
                <th><?php echo $this->__('GiftCard Name') ?></th>
                <th><?php echo $this->__('Order Id') ?></th>
                <th><?php echo $this->__('Amount') ?></th>
                <th><?php echo $this->__('Created At') ?></th>
                <th><?php echo $this->__('View / Print') ?></th>

            </tr>
        </thead>
        <tbody>
            <?php $_odd = ''; ?>
            <?php foreach ($cards->getData() as $pay_detail) : ?>
                <tr>
                    <td><?php echo $pay_detail['giftcard_id'] ?></td>
                    <td><span class="nobr"><?php echo $pay_detail['number'] ?></span></td>
                    <td><?php echo $pay_detail['order_id'] ?></td>
                    <td><?php echo Mage::helper('core')->currency($pay_detail['amount'], true, false);  ?></td>
                    <td><em><?php echo $pay_detail['created_at'] ?></em></td>
                    <td><a href="<?php echo Mage::getBaseUrl();?>/giftcards/index/print/gid/<?php echo $pay_detail['number'] ?>/balance/<?php echo $pay_detail['amount'] ?>" class="link-print" onclick="this.target='_blank';"><?php echo $this->__('Print Giftcard') ?></a></td>

                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <script type="text/javascript">decorateTable('my-report-table');</script>
    <?php echo $this->getPagerHtml(); ?>
<?php else : ?>
    <p><?php echo $this->__('You have not used any Gift Card.'); ?></p>
<?php endif ?>


